.container-main-password-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container-filling-out-info-change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
