<div class="container-types-of-tickets" *ngIf="formsOfPayment.length > 0">
  <div class="container-clube-uol">
    <div class="container-uol-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1703514340/logo_header_hksemr.png"
        alt="img-uol"
      />
      <app-svg-exit
        width="24px"
        height="24px"
        fill="rgb(152, 170, 236)"
      ></app-svg-exit>
    </div>
    <span
      >Assinante UOL tem isenção de taxa de serviço em até 2 ingressos por mês.
      <span>Saiba mais</span></span
    >
  </div>
  <div class="container-types-payment-main">
    <div class="container-type" *ngFor="let form of formsOfPayment">
      <div class="container-svg-ticket-info-about-payment-method">
        <app-svg-ticket-full width="46px" height="46px"></app-svg-ticket-full>
        <div class="container-info-about-payment">
          <span class="span-form-name">{{ form.formName }}</span>
          <span class="span-price">{{ form.price }}</span>
        </div>
      </div>
      <div class="container-less-and-more" #containerLessAndMore>
        <app-svg-less-for-payment-method
          width="19px"
          height="19px"
          fill="rgb(4, 18, 24)"
          class="container-less-for-payment-method"
          (click)="onClickLessButton(form, containerLessAndMore)"
        ></app-svg-less-for-payment-method>
        <span class="span-quantity-more">0</span>
        <app-svg-more-for-payment-method
          width="19px"
          height="19px"
          fill="rgb(4, 18, 24)"
          class="container-more-for-payment-method"
          (click)="onClickMoreButton(form, containerLessAndMore)"
        ></app-svg-more-for-payment-method>
      </div>
    </div>
  </div>
</div>
