<app-navigation></app-navigation>
<app-navigation-varied></app-navigation-varied>
<div
  class="container-main-choose-movie-theater"
  *ngIf="movieChooseMovieTheater"
>
  <div class="container-here">
    <div class="container-banner-movie-main">
      <div class="container-banner-movie-description">
        <div class="container-banner-movie">
          <img
            [src]="movieChooseMovieTheater.imgUrl"
            [alt]="movieChooseMovieTheater.title"
          />
        </div>
        <div class="container-description-movie">
          <h1>{{ movieChooseMovieTheater.title }}</h1>
          <div class="container-movie-ration-duration-gender">
            <div class="container-movie-ration">
              <span>{{ movieChooseMovieTheater.movieRating }}</span>
            </div>
            <div class="container-duration">
              <span>{{ movieChooseMovieTheater.duration }}</span>
            </div>
            <div class="container-line-white"></div>
            <div class="container-gender">
              <span>{{ movieChooseMovieTheater.gender }}</span>
            </div>
          </div>
          <div class="container-description-about-movie">
            <span>{{
              descriptionMovieAbout(movieChooseMovieTheater.description)
            }}</span>
            <a>Continuar lendo</a>
          </div>
          <div class="container-share">
            <div class="container-svg-share">
              <app-svg-share class="svg-share"></app-svg-share>
            </div>
            <span>Compartilhar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-sessions-about-the-movie-main-main">
    <div class="container-sessions-about-the-movie-main">
      <div class="container-sessions-about-the-movie">
        <div class="container-span-session-about">
          <span class="span-sessions">Sessões</span>
          <span class="span-about-the-movie">Sobre o filme</span>
        </div>
      </div>
      <div
        class="container-all-content-below-session-and-about-the-movie"
        *ngIf="!isClickedSpanAbountTheMovie"
      >
        <div class="container-date-movie-theater">
          <div
            class="container-date"
            *ngFor="let item of next7Days; let i = index"
          >
            <span>{{ item.dayYear }}</span>
            <span>{{ item.weekDay }}</span>
          </div>
        </div>

        <div class="container-movie-theater-types-and-svg-loupe">
          <div class="container-loupe-svg">
            <app-svg-loupe-movie-theater
              width="28px"
              height="28px"
              fill="rgb(152, 170, 236)"
            ></app-svg-loupe-movie-theater>
          </div>
          <div class="container-test">
            <div class="container-movie-theater-types">
              <div
                class="container-type"
                *ngFor="let item of arrayWhichTypeOfMovieTheaterHave"
                (click)="onClickContainerType(item)"
              >
                {{ item }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="container-location-hours-movie-theater-main"
          *ngIf="
            getCinemaArrayFiltered().length <= 0 &&
            mostrarCinemaMovieGetAllFiltered
          "
        >
          <div
            class="container-location-hours-movie-theater"
            *ngFor="let item of cinemaMovieGetAll"
          >
            <div class="container-location-movie-theater">
              <div class="container-location-svg">
                <app-svg-heart
                  width="30px"
                  height="30px"
                  fill="rgb(152 170 236)"
                ></app-svg-heart>
                <div class="container-location-h1-span">
                  <h1>{{ item.cinemaDTO.nameCinema }}</h1>
                  <span>{{ item.cinemaDTO.district }}</span>
                </div>
              </div>
              <div class="container-seats-price-details">
                <div class="container-seats">
                  <app-svg-seats
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-seats>
                  <span>Assentos</span>
                </div>
                <div class="container-seats">
                  <app-svg-price
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-price>
                  <span>Preços</span>
                </div>
                <div class="container-seats" (click)="onClickSeats(item)">
                  <app-svg-details
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-details>
                  <span>Detalhes</span>
                </div>
              </div>
            </div>
            <div class="container-schedule-and-type-movie">
              <div *ngFor="let schedule of getCinemaArray()">
                <div *ngIf="schedule.key === item.cinemaDTO.id">
                  <div *ngFor="let itemSchedule of schedule.value">
                    <app-schudule-movie-theater
                      *ngIf="itemSchedule.type === 'DUBLADO'"
                      [itemSchedule]="itemSchedule"
                      type="DUBLADO"
                      typeView="DUBLADO"
                    ></app-schudule-movie-theater>
                    <app-schudule-movie-theater
                      *ngIf="itemSchedule.type === 'LEGENDADO'"
                      [itemSchedule]="itemSchedule"
                      type="LEGENDADO"
                      typeView="LEGENDADO"
                    ></app-schudule-movie-theater>
                    <div
                      class="container-schedule-dublado"
                      *ngIf="itemSchedule.type === 'LV'"
                    >
                      <div class="container-span-type-more-than-one">
                        <span>VIP</span>
                        <span>LEGENDADO</span>
                      </div>
                      <div class="container-hours">
                        <div
                          class="container-schedule-hour"
                          *ngFor="let itemHour of itemSchedule.arryHours"
                        >
                          {{ replaceStringHours(itemHour) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="container-location-hours-movie-theater-main"
          *ngIf="getCinemaArrayFiltered().length >= 0"
        >
          <div
            class="container-location-hours-movie-theater"
            *ngFor="let item of cinemaMovieGetAllFiltered"
          >
            <div class="container-location-movie-theater">
              <div class="container-location-svg">
                <app-svg-heart
                  width="30px"
                  height="30px"
                  fill="rgb(152 170 236)"
                ></app-svg-heart>
                <div class="container-location-h1-span">
                  <h1>{{ item.cinemaDTO.nameCinema }}</h1>
                  <span>{{ item.cinemaDTO.district }}</span>
                </div>
              </div>
              <div class="container-seats-price-details">
                <div class="container-seats">
                  <app-svg-seats
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-seats>
                  <span>Assentos</span>
                </div>
                <div class="container-seats">
                  <app-svg-price
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-price>
                  <span>Preços</span>
                </div>
                <div class="container-seats">
                  <app-svg-details
                    class="container-svg-location"
                    fill="rgb(152 170 236)"
                  ></app-svg-details>
                  <span>Detalhes</span>
                </div>
              </div>
            </div>
            <div class="container-schedule-and-type-movie">
              <div *ngFor="let schedule of getCinemaArrayFiltered()">
                <div *ngIf="schedule.key === item.cinemaDTO.id">
                  <div *ngFor="let itemSchedule of schedule.value">
                    <app-schudule-movie-theater
                      *ngIf="itemSchedule.type === 'DUBLADO'"
                      [itemSchedule]="itemSchedule"
                      type="DUBLADO"
                      typeView="DUBLADO"
                    ></app-schudule-movie-theater>
                    <app-schudule-movie-theater
                      *ngIf="itemSchedule.type === 'LEGENDADO'"
                      [itemSchedule]="itemSchedule"
                      type="LEGENDADO"
                      typeView="LEGENDADO"
                    ></app-schudule-movie-theater>
                    <div
                      class="container-schedule-dublado"
                      *ngIf="itemSchedule.type === 'LV'"
                    >
                      <div class="container-span-type-more-than-one">
                        <span>VIP</span>
                        <span>LEGENDADO</span>
                      </div>
                      <div class="container-hours">
                        <div
                          class="container-schedule-hour"
                          *ngFor="let itemHour of itemSchedule.arryHours"
                        >
                          {{ replaceStringHours(itemHour) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-main-about-movie"
        *ngIf="isClickedSpanAbountTheMovie"
      >
        <div class="container-synopsis">
          <h1>Sinopse:</h1>
          <span>{{ movieChooseMovieTheater.description }}</span>
          <div class="container-button-see-sessions">
            <button (click)="onSeeSessions()">Ver sessões</button>
          </div>
        </div>
        <div class="container-datasheet-main">
          <h1>Ficha técnica:</h1>
          <div class="container-datasheet">
            <div class="container-itens-datasheet">
              <h2>Nome Original:</h2>
              <span>Harry Potter and the Prisoner of Azkaban</span>
            </div>
            <div class="container-itens-datasheet">
              <h2>Direção:</h2>
              <span>Alfonso Cuarón</span>
            </div>
            <div class="container-itens-datasheet">
              <h2>Duração:</h2>
              <span>142 min</span>
            </div>
            <div class="container-itens-datasheet">
              <h2>Gênero:</h2>
              <span>Aventura</span>
            </div>
            <div class="container-itens-datasheet">
              <h2>Distribuidor:</h2>
              <span>Warner Bros</span>
            </div>
            <div class="container-itens-datasheet">
              <h2>País de Origem:</h2>
              <app-svg-eua></app-svg-eua>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-modal" *ngIf="clickedDetails">
  <div class="container-modal-central">
    <app-svg-exit
      class="container-svg-exit"
      width="28px"
      height="28px"
      fill="#fff"
      (click)="onClickExitSvg()"
    ></app-svg-exit>
    <div class="container-svg-question-mark-span">
      <app-svg-question-mark
        class="container-svg-question-mark"
        width="31px"
        height="31px"
        fill="rgb(140 157 215)"
      ></app-svg-question-mark>
      <span>Atendimento</span>
    </div>
    <div class="container-location-movie">
      <div class="container-img-location">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1719232074/map-generic.04beb52d_y4ne70.png"
          alt="location-movie"
        />
      </div>
      <div class="container-location-name-and-svg-location">
        <app-svg-location></app-svg-location>
        <span *ngIf="itemCinemaMovieClickedDetails">{{
          itemCinemaMovieClickedDetails.cinemaDTO.district
        }}</span>
      </div>
    </div>
    <span class="span-forms-withdrawal">Formas de Retirada</span>
    <div class="container-types-of-the-withdrawal">
      <div class="container-width-adjust">
        <div class="container-forms-withdrawal">
          <app-svg-ticket-cabin
            class="container-svg-forms-withdrawal"
            width="40px"
            height="40px"
            fill="#fff"
          ></app-svg-ticket-cabin>
          <h2>Bilheteria ou Autoatendimento</h2>
          <span
            >Apresente o código de busca na bilheteria para trocar pelos
            ingressos. Leve o documento de identidade e o mesmo cartão de
            crédito utilizado no ato da compra.</span
          >
        </div>
        <div class="container-forms-withdrawal">
          <app-svg-ticket-cabin
            class="container-svg-forms-withdrawal"
            width="40px"
            height="40px"
            fill="#fff"
          ></app-svg-ticket-cabin>
          <h2>Impressão</h2>
          <span
            >Imprima seus ingressos e mostre-os na entrada do evento. Leve o
            documento comprovante em caso de meia-entrada.</span
          >
        </div>
        <div class="container-forms-withdrawal">
          <app-svg-ticket-cabin
            class="container-svg-forms-withdrawal"
            width="40px"
            height="40px"
            fill="#fff"
          ></app-svg-ticket-cabin>
          <h2>Aplicativo</h2>
          <span
            >Acesse Meus Pedidos no nosso app e interaja com o ingresso para
            validá-lo. Mostre a tela do dispositivo na entrada do
            espetáculo.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer class="container-footer"></app-footer>
