.container-main-choose-movie-theater {
  display: flex;
  flex-direction: column;
}

.container-sessions-about-the-movie-main-main {
  display: flex;
  justify-content: center;
}

.container-sessions-about-the-movie-main {
  display: flex;
  flex-direction: column;
  width: 1420px;
  // width: 900px;
  margin: 15px 30px;
  gap: 20px;
}

.container-all-content-below-session-and-about-the-movie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-footer {
  width: 100%;
}

// .container-modal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgba(59, 59, 59, 0.363);
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 5;
// }

// .container-modal-central {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // position: relative;
//   gap: 20px;
//   width: 39rem;
//   height: 42rem;
//   padding: 30px 25px;
//   background-color: rgb(33 38 45);
// }

// .container-svg-exit {
//   display: flex;
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   cursor: pointer;
// }

// .container-svg-question-mark-span {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .container-svg-question-mark-span > span {
//   color: rgb(140 157 215);
//   font-size: 20px;
//   font-weight: 700;
// }

// .container-svg-question-mark {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(52 60 70);
//   border-radius: 50%;
//   padding: 5px 5px;
// }

// .container-location-movie {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   position: relative;
//   margin-bottom: 50px;
// }

// .container-img-location {
//   width: 100%;
// }

// .container-img-location > img {
//   width: 100%;
//   height: 250px;
//   object-fit: cover;
//   border-radius: 10px;
// }

// .container-location-name-and-svg-location {
//   display: flex;
//   align-items: center;
//   background-color: rgb(33, 38, 45);
//   position: absolute;
//   // left: 85px;
//   bottom: -27px;
//   border-top-left-radius: 7px;
//   border-top-right-radius: 7px;
//   height: 60px;
//   padding: 0px 15px;
// }

// .container-location-name-and-svg-location > span {
//   font-size: 20px;
//   color: #fff;
// }

// .span-forms-withdrawal {
//   font-size: 20px;
//   color: #fff;
// }

// .container-types-of-the-withdrawal {
//   display: flex;
//   align-items: flex-end;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   width: 100%;
//   height: 100%;
// }

// .container-width-adjust {
//   display: flex;
//   width: 1130px;
//   user-select: none;

//   // transform: translateX(0%);
//   // transition: transform 0.1s ease;
// }

// .container-forms-withdrawal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   width: 350px;
//   height: 200px;
//   background-color: rgb(52 60 70);
//   border-radius: 10px;
//   padding-bottom: 30px;
//   padding-left: 25px;
//   padding-right: 25px;
//   padding-top: 40px;
//   position: relative;
//   margin-right: 15px;
// }

// .container-forms-withdrawal > h2 {
//   font-size: 20px;
//   color: #fff;
// }

// .container-forms-withdrawal > span {
//   font-size: 16px;
//   color: rgb(153, 153, 153);
//   line-height: 1.1;
//   text-align: center;
// }

// .container-svg-forms-withdrawal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(50, 85, 226);
//   padding: 10px;
//   border-radius: 50%;
//   position: absolute;
//   left: 150px;
//   top: -30px;
// }

.container-main-about-movie {
  display: flex;
  flex-direction: column;
}

.container-synopsis {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgb(58 58 58 / 81%);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.container-synopsis > h1 {
  color: #fff;
  font-size: 20px;
}

.container-synopsis > span {
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.container-button-see-sessions {
  display: flex;
}

.container-button-see-sessions > button {
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 6px 40px;
  background-image: linear-gradient(to left, #6c04ba, #3255e2);
}

.container-button-see-sessions > button:hover {
  background-image: linear-gradient(to left,#6d15b1, #1b39b1);
  color: #ffffffa2;
}

.container-datasheet-main {
  display: flex;
  flex-direction: column;
}

.container-datasheet-main > h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.container-datasheet {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-itens-datasheet {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.container-itens-datasheet > h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0px;
}

.container-itens-datasheet > span {
  font-size: 16px;
  color: #fff;
}
