.container-main-choose-movie-theater {
  display: flex;
  flex-direction: column;
}

.container-sessions-about-the-movie-main-main {
  display: flex;
  justify-content: center;
}

.container-sessions-about-the-movie-main {
  display: flex;
  flex-direction: column;
  width: 1420px;
  // width: 900px;
  margin: 15px 30px;
  gap: 20px;
}

.container-all-content-below-session-and-about-the-movie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-footer {
  width: 100%;
}
