<app-navigation></app-navigation>
<app-navigation-varied></app-navigation-varied>
<div
  class="container-main-choose-movie-theater"
  *ngIf="movieChooseMovieTheater"
>
  <app-banner-info-about-movie
    [movieChooseMovieTheater]="movieChooseMovieTheater"
  ></app-banner-info-about-movie>
  <div class="container-sessions-about-the-movie-main-main">
    <div class="container-sessions-about-the-movie-main">
      <app-movie-sessions-and-info></app-movie-sessions-and-info>
      <div
        class="container-all-content-below-session-and-about-the-movie"
        *ngIf="!isClickedSpanAbountTheMovie"
      >
        <app-day-and-day-weak-and-movie-theater-types
          [arrayWhichTypeOfMovieTheaterHave]="arrayWhichTypeOfMovieTheaterHave"
          [onClickContainerType]="onClickContainerType"
        ></app-day-and-day-weak-and-movie-theater-types>

        <app-movie-location-hours-normal
          [objHoursToCinemaMovieScheduleFiltered]="
            objHoursToCinemaMovieScheduleFiltered
          "
          [mostrarCinemaMovieGetAllFiltered]="mostrarCinemaMovieGetAllFiltered"
          [cinemaMovieGetAll]="cinemaMovieGetAll"
          [onClickSeats]="onClickSeats"
          [objHourss]="objHourss"
          [movieChooseMovieTheater]="movieChooseMovieTheater"
          [movieId]="movieId"
          [room]="room"
        ></app-movie-location-hours-normal>

        <app-movie-location-hours-filtered
          [objHoursToCinemaMovieScheduleFiltered]="
            objHoursToCinemaMovieScheduleFiltered
          "
          [mostrarCinemaMovieGetAllFiltered]="mostrarCinemaMovieGetAllFiltered"
          [cinemaMovieGetAllFiltered]="cinemaMovieGetAllFiltered"
          [onClickSeats]="onClickSeats"
          [objHourss]="objHourss"
          [movieChooseMovieTheater]="movieChooseMovieTheater"
          [movieId]="movieId"
          [room]="room"
        >
        </app-movie-location-hours-filtered>

        <div
          class="container-main-about-movie"
          *ngIf="isClickedSpanAbountTheMovie"
        >
          <div class="container-synopsis">
            <h1>Sinopse:</h1>
            <span>{{ movieChooseMovieTheater.description }}</span>
            <div class="container-button-see-sessions">
              <button (click)="onSeeSessions()">Ver sessões</button>
            </div>
          </div>
          <div class="container-datasheet-main">
            <h1>Ficha técnica:</h1>
            <div class="container-datasheet">
              <div class="container-itens-datasheet">
                <h2>Nome Original:</h2>
                <span>Harry Potter and the Prisoner of Azkaban</span>
              </div>
              <div class="container-itens-datasheet">
                <h2>Direção:</h2>
                <span>Alfonso Cuarón</span>
              </div>
              <div class="container-itens-datasheet">
                <h2>Duração:</h2>
                <span>142 min</span>
              </div>
              <div class="container-itens-datasheet">
                <h2>Gênero:</h2>
                <span>Aventura</span>
              </div>
              <div class="container-itens-datasheet">
                <h2>Distribuidor:</h2>
                <span>Warner Bros</span>
              </div>
              <div class="container-itens-datasheet">
                <h2>País de Origem:</h2>
                <app-svg-eua></app-svg-eua>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer class="container-footer"></app-footer>
</div>

<app-modal-details-about-movie-theater
  [clickedDetails]="clickedDetails"
  [itemCinemaMovieClickedDetails]="itemCinemaMovieClickedDetails"
  [onClickExitSvg]="onClickExitSvg"
></app-modal-details-about-movie-theater>
