.container-my-orders {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-my-orders > h1 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(102, 102, 102);
}

.container-img-about-movie-and-title {
  display: flex;
}


.container-img-movie {
  display: flex;
  width: 95px;
  margin-right: 10px;
}

.container-img-movie > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-others-info-about-movie {
  width: 30%;
  margin-right: 10px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-others-info-about-movie > h1 {
  font-size: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.container-others-info-about-movie > p {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 700;
}

.h3-cinema-district {
  font-size: 13px;
  margin-bottom: 0px;
}

.container-ticket  p {
  margin-bottom: 0px;
}

.span-quantity {
  font-weight: 600;
}

.container-main {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 38%;
}

.container-main > h1 {
  font-size: 15px;
}

.container-main-product {
  display: flex;
  flex-direction: column;
  width: 38%;
}

.container-main-product > h1 {
  font-size: 15px;
}



.container-ticket-product {
  font-size: 15px;
}

