<div class="container-all-payment-methods-main">
  <div class="container-all-payment-methods">
    <div class="container-card-credit">
      <app-svg-card-credit></app-svg-card-credit>
      <span>Cartão de crédito</span>
    </div>
    <div class="container-card-debit">
      <app-svg-card-debit></app-svg-card-debit>
      <span>Cartão de débito</span>
    </div>
    <div class="container-pix">
      <app-svg-payment-pix
        class="container-svg-payment-pix"
      ></app-svg-payment-pix>
      <span>Pix</span>
    </div>
    <div class="container-google-play">
      <app-svg-google-play></app-svg-google-play>
      <span>Google Pay</span>
    </div>
  </div>
</div>
