<div class="container-all-payment-methods-main">
  <div class="container-all-payment-methods">
    <div class="container-card-credit">
      <app-svg-card-credit></app-svg-card-credit>
      <span>Cartão de crédito</span>
    </div>
    <div class="container-card-debit">
      <app-svg-card-debit></app-svg-card-debit>
      <span>Cartão de débito</span>
    </div>
    <div class="container-pix">
      <app-svg-payment-pix
        class="container-svg-payment-pix"
      ></app-svg-payment-pix>
      <span>Pix</span>
    </div>
    <div class="container-google-play">
      <app-svg-google-play></app-svg-google-play>
      <span>Google Pay</span>
    </div>
  </div>
  <div class="container-line-discount-and-span">
    <span>Desconto</span>
    <div class="container-line-discount"></div>
  </div>
  <app-clube-uol></app-clube-uol>
  <div class="container-coupon-and-gift-card-arrow-main">
    <div
      class="container-coupon-and-gift-card-arrow"
      (click)="onClickCuponGiftCard()"
    >
      <div class="container-coupon-and-gift-card">
        <app-coupon-and-gift-card></app-coupon-and-gift-card>
        <span>Cupom e vale-presente</span>
      </div>
      <app-svg-arrow-payment
        [rotate]="rotateCuponGiftPresent"
      ></app-svg-arrow-payment>
    </div>
    <div
      class="container-info-coupon"
      [ngClass]="{ expandedCoupon: rotateCuponGiftPresent === '0' }"
    >
      <span
        >Insira o código do Vale-Presente, Cupom de Desconto ou Promocode.</span
      >
      <div class="conatiner-input-button-apply-coupon">
        <input
          type="text"
          placeholder="Insira o código aqui"
          id="input-coupon"
          #inputCoupon
          (change)="onChangeInputCoupon(inputCoupon)"
        />
        <button>APLICAR</button>
      </div>
    </div>
  </div>
</div>
