
:host {
  display: block;
}

.container-location-hours-movie-theater-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 74%;
}

.container-location-hours-movie-theater {
  display: flex;
  flex-direction: column;
  background-color: rgb(33 38 45);
  border-radius: 15px;
  // padding: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
}

.container-location-movie-theater {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(129, 129, 129, 0.329);
  padding-bottom: 25px;
}

.container-location-svg {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container-location-h1-span {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.container-location-h1-span > h1 {
  font-size: 16px;
  color: #fff;
}

.container-location-h1-span > span {
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.container-seats-price-details {
  display: flex;
  gap: 12px;
  height: 25px;
}

.container-seats {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.container-seats > span {
  font-size: 15px;
  color: rgb(240, 240, 240);
  line-height: 1;
}

.container-svg-location {
  display: flex;
}

.container-schedule-and-type-movie {
  padding-top: 10px;
}

.container-schedule-dublado {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #fff;
  padding-top: 15px;
}

.container-span-type-more-than-one {
  display: flex;
  gap: 10px;
}

.container-span-type-more-than-one > span {
  color: #fff;
  line-height: 1;
  background-color: rgb(50, 85, 226);
  font-size: 11px;
  font-weight: 700;
  padding: 4px 17px;
  border-radius: 5px;
}

.container-hours{
  display: flex;
  gap: 10px;
}

.container-schedule-hour {
  border: 2px solid rgb(152, 170, 236);
  color: rgb(152, 170, 236);
  padding: 0 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.container-schedule-hour:hover {
  color: rgb(120, 145, 235);
  border-color: rgb(120, 145, 235);
}
