<div class="container-in-which-position-im-in-choosing-seats-main">
  <div class="container-in-which-position-im-in-choosing-seats">
    <app-svg-itens-about-movie
      class="container-svg-itens-about-movie"
      [width]="widthHeightSeats"
      [height]="widthHeightSeats"
      [fill]="fillSeats"
      [border]="borderSeats"
      [borderRadius]="borderRadiusSeats"
      [padding]="paddingSeats"
    ></app-svg-itens-about-movie>
    <span class="span-seats" *ngIf="whatFunctionWasClickedByUser === seats"
      >ESCOLHA DE ASSENTOS</span
    >
    <div class="container-line-white"></div>
    <app-svg-tickets-for-seats
      class="container-svg-tickets"
      [width]="widthHeightTickets"
      [height]="widthHeightTickets"
      [fill]="fillTickets"
      [border]="borderTickets"
      [borderRadius]="borderRadiusTickets"
      [padding]="paddingTickets"
    ></app-svg-tickets-for-seats>
    <span class="span-tickets" *ngIf="whatFunctionWasClickedByUser === tickets"
      >TIPOS DE INGRESSOS</span
    >
    <div class="container-line-white"></div>
    <app-svg-popcorn
      class="container-svg-popcorn"
      [width]="widthHeightBomboniere"
      [height]="widthHeightBomboniere"
      [fill]="fillBomboniere"
      [border]="borderBomboniere"
      [borderRadius]="borderRadiusBomboniere"
      [padding]="paddingBomboniere"
    ></app-svg-popcorn>
    <span
      class="span-popcorn"
      *ngIf="whatFunctionWasClickedByUser === bomboniere"
      >BOMBONIERE</span
    >
    <div class="container-line-white"></div>
    <app-svg-card-for-seats
      class="container-svg-card"
      [width]="widthHeightPayment"
      [height]="widthHeightPayment"
      [fill]="fillPayment"
      [border]="borderPayment"
      [borderRadius]="borderRadiusPayment"
      [padding]="paddingPayment"
    ></app-svg-card-for-seats>
    <span class="span-payment" *ngIf="whatFunctionWasClickedByUser === payment"
      >PAGAMENTO</span
    >
  </div>
</div>
