<div class="container-main-password-change">
  <app-ingresso-top class="container-ingresso-header"></app-ingresso-top>
  <div class="container-filling-out-info-change-password">
    <h1>Nova Senha</h1>
    <div class="container-type-your-password">
      <span>Por favor, digite uma nova senha nos campos abaixo.</span>
      <div class="container-svg-password">
        <div class="container-svg-user">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33">
            <path
              d="M9.42 12.892c0-.18.002-.337.003-.53l.003-.52c.004-.705.006-1.252.006-1.579 0-2.287 2.223-4.43 6.377-4.43 4.134 0 6.348 2.184 6.348 4.435v2.07l.001.554h.899c1.506 0 2.72 1.196 2.72 2.65v8.819c0 1.46-1.214 2.649-2.72 2.649H8.499c-1.506 0-2.721-1.196-2.721-2.65v-8.819c0-1.46 1.215-2.649 2.721-2.649h.92zm1.818 0h9.102v-1.01l-.001-1.614c0-.376-.254-.987-.754-1.48-.751-.741-1.971-1.19-3.776-1.19-1.815 0-3.044.44-3.799 1.166-.507.489-.76 1.095-.76 1.5 0 .33-.002.88-.006 1.588l-.003.52-.003.52zm-3.642 2.65v8.819c0 .482.404.884.903.884h14.558a.894.894 0 0 0 .903-.884v-8.82a.898.898 0 0 0-.903-.884H8.499a.894.894 0 0 0-.903.884zm9.112 5.043v2.145a.75.75 0 0 1-.75.75h-.34a.75.75 0 0 1-.75-.75v-2.133a1.755 1.755 0 0 1-.908-1.528c0-.975.814-1.765 1.818-1.765s1.818.79 1.818 1.765c0 .644-.356 1.208-.888 1.516z"
            ></path>
          </svg>
          <div class="line-split"></div>
        </div>
        <div class="container-password-input">
          <span>Senha</span>
          <input
            type="password"
            placeholder="Digite sua senha"
            class="input-password-send-code"
            #inputPassword
            (input)="onInputPassword($event)"
            (click)="onClickInputPassword()"
            (blur)="onBlurInputPassword()"
          />
        </div>
      </div>
      <div class="container-password-requirement mt-3">
        <p class="para-1">Sua senha precisa atender aos seguintes critérios:</p>
        <p
          [ngClass]="{ 'color-sucess': minimumOneLowercaseLetter }"
          class="para-2"
        >
          Mínimo uma letra minúscula *
        </p>
        <p
          [ngClass]="{ 'color-sucess': minimumOneUppercaseLetter }"
          class="para-3"
        >
          Mínimo uma letra maiúscula *
        </p>
        <p [ngClass]="{ 'color-sucess': minimumOneNumber }" class="para-4">
          Mínimo um número *
        </p>
        <p [ngClass]="{ 'color-sucess': minimumEightNumber }" class="para-5">
          Mínimo de 8 caracteres *
        </p>
      </div>

      <div class="container-svg-change-password">
        <div class="container-svg-user">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33">
            <path
              d="M9.42 12.892c0-.18.002-.337.003-.53l.003-.52c.004-.705.006-1.252.006-1.579 0-2.287 2.223-4.43 6.377-4.43 4.134 0 6.348 2.184 6.348 4.435v2.07l.001.554h.899c1.506 0 2.72 1.196 2.72 2.65v8.819c0 1.46-1.214 2.649-2.72 2.649H8.499c-1.506 0-2.721-1.196-2.721-2.65v-8.819c0-1.46 1.215-2.649 2.721-2.649h.92zm1.818 0h9.102v-1.01l-.001-1.614c0-.376-.254-.987-.754-1.48-.751-.741-1.971-1.19-3.776-1.19-1.815 0-3.044.44-3.799 1.166-.507.489-.76 1.095-.76 1.5 0 .33-.002.88-.006 1.588l-.003.52-.003.52zm-3.642 2.65v8.819c0 .482.404.884.903.884h14.558a.894.894 0 0 0 .903-.884v-8.82a.898.898 0 0 0-.903-.884H8.499a.894.894 0 0 0-.903.884zm9.112 5.043v2.145a.75.75 0 0 1-.75.75h-.34a.75.75 0 0 1-.75-.75v-2.133a1.755 1.755 0 0 1-.908-1.528c0-.975.814-1.765 1.818-1.765s1.818.79 1.818 1.765c0 .644-.356 1.208-.888 1.516z"
            ></path>
          </svg>
          <div class="line-split"></div>
        </div>
        <div class="container-change-password-input">
          <span>Senha</span>
          <input
            type="password"
            placeholder="Confirme sua senha"
            class="input-password-send-code"
            #inputPassword
            (input)="onInputChangePassword($event)"
            (click)="onClickInputChangePassword()"
            (blur)="onBlurInputChangePassword()"
          />
        </div>
      </div>
      <div class="container-span-site-protect-recaptcha">
        <span class="span-site-protect-recaptcha"
          >Este site é protegido pelo reCAPTCHA e pelo Google aplicando as
          seguintes
          <span class="span-blue-recaptcha">Políticas de Segurança</span> e
          <span class="span-blue-recaptcha">Termos de Serviço.</span></span
        >
      </div>
      <div
        class="g-recaptcha container-recaptcha"
        data-sitekey="6LeDshsqAAAAACsX9oQXZ4HNCHaeEHJh2-vD3nmS"
        data-callback="recaptchaCallback"
      ></div>
      <div class="container-button-change-password">
        <button class="button-change-password">ALTERAR SENHA</button>
      </div>
    </div>
  </div>

  <app-footer-ingresso class="container-footer-ingresso"></app-footer-ingresso>
</div>
