<div class="container-payment-methods">
  <div class="container-credit-debit-digital-wallets">
    <h1>Você pode pagar com os seus cartões de crédito ou via Paypal</h1>
    <div class="container-all-methods-payment">
      <div class="container-credit-all">
        <p>Crédito</p>
        <app-card-credit-all></app-card-credit-all>
      </div>
      <div class="container-debit-all">
        <p>Débito</p>
        <app-card-debit-all></app-card-debit-all>
      </div>
      <div class="container-digital-wallets-all">
        <p>Carteiras Digitais</p>
        <app-digital-wallets-all></app-digital-wallets-all>
      </div>
    </div>
  </div>
  <div class="container-caixa">
    <div class="container-caixa-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1701170158/caixa-positivo_rnlldm.png"
        alt="caixa-img"
      />
    </div>
    <div class="container-description-about-caixa">
      <span>PAGUE COM O CARTÃO DE DÉBITO VIRTUAL CAIXA</span>
      <span
        >Antes de realizar a compra, é necessário gerar, gratuitamente, o seu
        <span class="span-highlight"
          >cartão de débito virtual Caixa.</span
        ></span
      >
      <span
        >Acesse o Internet Banking, pelo site ou pelo App Caixa, na opção
        <span class="span-highlight"
          >"Cartões – Cartão de Débito Virtual".</span
        ></span
      >
      <span
        >Insira o número completo, a validade e o código de segurança
        gerados.</span
      >
      <span
        >Um novo código de segurança deverá ser gerado no Internet Banking, a
        cada compra, para maior segurança no uso dos serviços da
        Ingresso.com.</span
      >
    </div>
  </div>
  <div class="container-paypal">
    <div class="container-paypal-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1704292650/PayPal-Logo_shc49l.png"
        alt="paypal-img"
      />
    </div>
    <div class="container-paypal-img-description">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1704814143/Captura_de_tela_2024-01-09_112811_j0vbat.png"
        alt="paypal-img-description"
      />
    </div>
  </div>
</div>
