<div class="container-subtitle">
  <span>Legenda</span>
  <div class="container-type-subtitle">
    <div class="container-ball-available">
      <div></div>
      <span>Disponível</span>
    </div>
    <div class="container-ball-selected">
      <div></div>
      <span>Selecionado</span>
    </div>
    <div class="container-ball-busy">
      <app-svg-body-seats
        width="16px"
        height="16px"
        fillColor="#fff"
        class="container-svg-all-selected"
      ></app-svg-body-seats>
      <span>Ocupado</span>
    </div>
    <div class="container-ball-busy">
      <app-svg-blocked
        width="16px"
        height="16px"
        fill="#fff"
        class="container-svg-all-selected"
      ></app-svg-blocked>
      <span>Bloqueado</span>
    </div>
    <div class="container-ball-busy">
      <app-svg-wheelchair
        width="16px"
        height="16px"
        fill="#fff"
        class="container-svg-all-selected"
      ></app-svg-wheelchair>
      <span>Cadeirante</span>
    </div>
    <div class="container-ball-busy">
      <app-svg-obese
        width="16px"
        height="16px"
        fill="#fff"
        class="container-svg-all-selected"
      ></app-svg-obese>
      <span>Obeso</span>
    </div>
  </div>
</div>
