<div class="header-seats-main">
  <div class="container-img-ingresso" (click)="onClickIngressoImg()">
    <img
      src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1698064983/IngressoImg/ingressologoTrans_in34qn.png"
      alt="ingresso-img"
    />
  </div>
  <div class="container-name-user-service">
    <div class="container-name-user">
      <span>Olá, visitante</span>
      <app-svg-user
        class="container-svg-user-body"
        width="24px"
        height="24px"
        fillColor="#fff"
      ></app-svg-user>
    </div>
    <div class="container-service"></div>
  </div>
</div>
