<div class="container-modal-change-password" *ngIf="!changePassword">
  <div class="container-modal-central">
    <div class="container-top-part">
      <h1>ALTERAÇÃO DE SENHA</h1>
    </div>
    <div class="container-icon-x" (click)="onClickCloseModal()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </div>
    <div class="container-input-password">
      <!-- passar para dentro o valor da borda vermelho azul e tals -->
      <app-input-generic
        placeholder="Senha Atual"
        border="1px solid rgb(197, 197, 197)"
        borderLeft="4px solid rgb(197, 197, 197)"
      >
        <app-svg-lock-password
          width="20px"
          height="20px"
          fillColor="rgb(189, 189, 189)"
        >
        </app-svg-lock-password>
      </app-input-generic>
      <app-input-generic
        placeholder="Digite sua nova senha"
        border="1px solid rgb(197, 197, 197)"
        borderLeft="4px solid rgb(197, 197, 197)"
      >
        <app-svg-lock-password
          width="20px"
          height="20px"
          fillColor="rgb(189, 189, 189)"
        >
        </app-svg-lock-password>
      </app-input-generic>
      <app-input-generic
        placeholder="Confirme sua nova senha"
        border="1px solid rgb(197, 197, 197)"
        borderLeft="4px solid rgb(197, 197, 197)"
      >
        <app-svg-lock-password
          width="20px"
          height="20px"
          fillColor="rgb(189, 189, 189)"
        >
        </app-svg-lock-password>
      </app-input-generic>
    </div>
    <div class="container-what-the-password-required">
      <h2>Sua senha precisa atender aos seguintes critérios:</h2>
      <span>Mínimo uma letra minúscula *</span>
      <span>Mínimo uma letra maiúscula *</span>
      <span>Mínimo um número *</span>
      <span>Mínimo de 8 caracteres *</span>
    </div>
    <div class="container-h2-and-reCAPTCHA">
      <h2>
        Este site é protegido pelo reCAPTCHA e pelo Google aplicando as
        seguintes <span class="span-same">Políticas de Segurança</span> e
        <span class="span-same">Termos de Serviço.</span>
      </h2>
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LfA6AUpAAAAAKuDPHeFgdUSz_dVtzPRrCTkPSbl"
      >
      </re-captcha>
    </div>
    <div class="container-button-back-and-change-password">
      <button class="button-back">VOLTAR</button>
      <button class="button-change-password">ALTERAR SENHA</button>
    </div>
  </div>
</div>
