<div class="container-modal-change-password" *ngIf="changePasswordUser">
  <div class="container-modal-central">
    <div class="container-top-part">
      <h1>ALTERAÇÃO DE SENHA</h1>
    </div>
    <div
      class="container-icon-x"
      (click)="changePassword ? changePassword(false) : null"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </div>
    <div class="container-input-password">
      <div class="container-input-password-current">
        <app-input-generic
          placeholder="Senha Atual"
          [border]="borderPasswordCurrent"
          [borderLeft]="borderLeftPasswordCurrent"
          [onPasswordInput]="onPasswordCurrent"
        >
          <app-svg-lock-password
            width="20px"
            height="20px"
            [fillColor]="fillColorPasswordCurrent"
          >
          </app-svg-lock-password>
        </app-input-generic>
        <div
          class="container-span-error-and-svg-arrow"
          *ngIf="!isValuePasswordCurrent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
            />
          </svg>
          <span class="span-error">Por favor, digite sua senha.</span>
        </div>
        <div
          class="container-span-error-and-svg-arrow"
          *ngIf="passwordInformedWrong"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
            />
          </svg>
          <span class="span-error">Senha inválida.</span>
        </div>
      </div>
      <div class="container-input-password-current">
        <app-input-generic
          placeholder="Digite sua nova senha"
          [border]="borderNewPassword"
          [borderLeft]="borderLeftNewPassword"
          [onPasswordInput]="onPasswordInput"
        >
          <app-svg-lock-password
            width="20px"
            height="20px"
            [fillColor]="fillColorNewPassword"
          >
          </app-svg-lock-password>
        </app-input-generic>
        <div
          class="container-span-error-and-svg-arrow"
          *ngIf="isValueNewPassword && !passwordDoesNotMeetTheCriteira"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
            />
          </svg>
          <span class="span-error">Por favor, digite sua senha.</span>
        </div>
        <div
          class="container-span-error-and-svg-arrow"
          *ngIf="passwordDoesNotMeetTheCriteira"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
            />
          </svg>
          <span class="span-error"
            >A senha não atende aos critérios necessários.</span
          >
        </div>
      </div>
      <div class="container-input-password-current">
        <app-input-generic
          placeholder="Confirme sua nova senha"
          [border]="borderConfirmNewPassword"
          [borderLeft]="borderLeftConfirmNewPassword"
          [onPasswordInput]="onPasswordInputConfirmYourNewPassword"
        >
          <app-svg-lock-password
            width="20px"
            height="20px"
            [fillColor]="fillColorConfirmNewPassword"
          >
          </app-svg-lock-password>
        </app-input-generic>
        <div
          class="container-span-error-and-svg-arrow"
          *ngIf="isValueConfirmNewPassword"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
            />
          </svg>
          <span class="span-error">Senhas não coincidem.</span>
        </div>
      </div>
    </div>
    <div class="container-password-requirement mt-3 mb-3">
      <p class="para-1">Sua senha precisa atender aos seguintes critérios:</p>
      <p
        [ngClass]="{ 'color-sucess': minimumOneLowercaseLetter }"
        class="para-2"
      >
        Mínimo uma letra minúscula *
      </p>
      <p
        [ngClass]="{ 'color-sucess': minimumOneUppercaseLetter }"
        class="para-3"
      >
        Mínimo uma letra maiúscula *
      </p>
      <p [ngClass]="{ 'color-sucess': minimumOneNumber }" class="para-4">
        Mínimo um número *
      </p>
      <p [ngClass]="{ 'color-sucess': minimumEightNumber }" class="para-5">
        Mínimo de 8 caracteres *
      </p>
    </div>
    <div class="container-h2-and-reCAPTCHA">
      <h2>
        Este site é protegido pelo reCAPTCHA e pelo Google aplicando as
        seguintes <span class="span-same">Políticas de Segurança</span> e
        <span class="span-same">Termos de Serviço.</span>
      </h2>
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LfA6AUpAAAAAKuDPHeFgdUSz_dVtzPRrCTkPSbl"
      >
      </re-captcha>
    </div>
    <div class="container-button-back-and-change-password">
      <button class="button-back" (click)="onClickBack($event)">VOLTAR</button>
      <button
        class="button-change-password"
        (click)="onClickChangePassword($event)"
      >
        ALTERAR SENHA
      </button>
    </div>
  </div>
</div>

<div
  class="container-modal-change-password"
  *ngIf="passwordChangedSuccessfully"
>
  <div class="container-modal-central-password-changed">
    <div class="container-icon-x" (click)="onClickCloseModalPasswordChanged()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </div>
    <div class="container-lock">
      <app-svg-lock-2 width="100px"></app-svg-lock-2>
      <h1>Senha alterada com sucesso!</h1>
      <span
        >Para continuar navegando, por favor faça login novamente utilizando a
        nova senha.</span
      >
      <button (click)="onClickUserChangedPassword()">CONTINUAR</button>
    </div>
  </div>
</div>
