<div class="container-warning-main">
  <div class="container-warning">
    <app-svg-exclamation-mark
      width="14px"
      height="14px"
      fill="rgb(255, 255, 255)"
      class="container-svg-all-selected"
    ></app-svg-exclamation-mark>
    <div class="container-description-warning">
      <p>
        Feriados e pontos facultativos serão praticados os preços de final de
        semana. Promoções não são cumulativas com outras promoções ou benefícios
        de meia-entrada. Caso sejam realizadas sessões de pré-estreia na
        quarta-feira, o valor dessas sessões será sempre igual ao de sábado e
        domingo. Exibição de conteúdos especiais, shows e eventos não participam
        de promoções. Com base na legislação aplicável, crianças menores de 2
        anos não pagarão ingressos para entrar nas salas de cinema da
        Cinematográfica Araújo, crianças com idade igual ou superior a 2 anos
        deverão pagar meia-entrada, nos termos da lei 12.933/13.
      </p>
    </div>
  </div>
</div>
