<div class="container-back-or-progress-main">
  <div class="container-back-or-progress">
    <button class="button-back">VOLTAR</button>
    <div
      class="container-tickets-about-seats"
      *ngIf="whatFunctionClicked === 'seats'"
    >
      <app-svg-ticket
        width="38px"
        height="38px"
        fill="rgb(204, 204, 204)"
        *ngFor="let item of items"
      ></app-svg-ticket>
    </div>
    <div
      class="container-tickets-about-tickets"
      *ngIf="whatFunctionClicked === 'tickets'"
    >
      <app-svg-ticket-for-payment-choose
        width="38px"
        height="38px"
        *ngFor="let itemPayment of itemsPaymentClicked"
      ></app-svg-ticket-for-payment-choose>
    </div>
    <button class="button-progress">AVANÇAR</button>
  </div>
</div>
