.container-choose-seats-main {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.container-choose-seats-and-order-summary {
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 1051px;
  margin-bottom: 70px;
}

.container-seats-and-subtitle {
  display: flex;
  flex-direction: column;

  width: 1169px;

  @media (max-width: 1500px) {
    width: 1050px;
  }

  @media (max-width: 1380px) {
    width: 985px;
  }
}

.container-back-or-progress-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

.container-back-or-progress {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 90%;
  background-color: rgb(52, 60, 70);
  padding: 7px 10px;
  border-radius: 5px;
}

.container-back-or-progress > p {
  margin-bottom: 0px;
}

.button-back {
  border: 3px solid rgb(102, 102, 102);
  background-color: transparent;
  color: rgb(102, 102, 102);
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: not-allowed;

  min-width: unset;
  width: 130px;
  height: 48px;
}

.button-progress {
  cursor: pointer;
  position: relative;
  border: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 40px;
  background-image: linear-gradient(to right, rgb(255, 206, 0), rgb(255, 136, 0));
  background-color: rgb(152, 170, 236);
  color: rgb(33, 38, 45);
  width: auto;
  min-width: 140px;
  text-transform: uppercase;
  letter-spacing: 1px;
  gap: 14px;

  min-width: unset;
  width: 130px;
  height: 48px;
}

.button-progress:hover {
  background-image: linear-gradient(to right, rgb(206, 165, 0), rgb(206, 110, 0));
}

.container-tickets-about-seats {
  display: flex;
  align-items: center;
  gap: 5px;
}
