.container-choose-seats-main {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.container-in-which-position-im-in-choosing-seats-main {
  display: flex;
  justify-content: center;
}

.container-in-which-position-im-in-choosing-seats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
}

.container-svg-choose-seats {
  display: flex;
  background-color: rgb(49 85 232);
  padding: 5px;
  border-radius: 50%;
}

.container-line-white {
  border-top: 1px solid rgb(52, 60, 70);
  width: 100%;
}

.container-location-movie-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: rgb(52 60 70);
  padding: 5px 0px;
}

.container-location-svg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-location-svg > span {
  color: #fff;
  font-size: 15px;
}

.container-svg-location {
  display: flex;
}

.container-svg-date {
  display: flex;
}

.container-date-svg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-date-svg > span {
  color: #fff;
  font-size: 15px;
}

.container-hour-svg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-hour-svg > span {
  color: #fff;
  font-size: 15px;
}

.container-svg-clock {
  display: flex;
}

.container-seats-available {
  background-color: rgb(33 38 45);
  padding: 40px 40px 10px 40px;
}

.container-seats-only {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
