<div class="container-choose-seats-main">
  <div class="container-in-which-position-im-in-choosing-seats-main">
    <div class="container-in-which-position-im-in-choosing-seats">
      <app-svg-choose-seats
        width="24px"
        height="24px"
        fill="#fff"
        class="container-svg-choose-seats"
        border="none"
        borderRadius="none"
        padding="none"
      ></app-svg-choose-seats>
      <div class="container-line-white"></div>
      <app-svg-tickets-for-seats
        width="27px"
        height="27px"
        fill="rgb(52 60 70)"
        class="container-svg-tickets"
        border="1px solid rgb(52, 60, 70)"
        borderRadius="50%"
        padding="4px"
      ></app-svg-tickets-for-seats>
      <div class="container-line-white"></div>
      <app-svg-popcorn
        width="27px"
        height="27px"
        fill="rgb(52 60 70)"
        class="container-svg-popcorn"
        border="1px solid rgb(52, 60, 70)"
        borderRadius="50%"
        padding="4px"
      ></app-svg-popcorn>
      <div class="container-line-white"></div>
      <app-svg-card-for-seats
        width="27px"
        height="27px"
        fill="rgb(52 60 70)"
        class="container-svg-card"
        border="1px solid rgb(52, 60, 70)"
        borderRadius="50%"
        padding="4px"
      ></app-svg-card-for-seats>
    </div>
  </div>
  <div class="container-choose-seats-and-order-summary">
    <div class="container-seats-and-subtitle">
      <div class="container-choose-seats">
        <div class="container-location-movie-data">
          <div class="container-location-svg">
            <app-svg-location
              width="21px"
              height="21px"
              fill="#fff"
              class="container-svg-location"
            ></app-svg-location>
            <span *ngIf="objectForOrderSummary">{{
              objectForOrderSummary.locationMovieTheater
            }}</span>
          </div>
          <div class="container-date-svg">
            <app-svg-calendar
              width="21px"
              height="21px"
              fill="#fff"
              class="container-svg-date"
            ></app-svg-calendar>
            <span>{{ stringFullOnlyDate }}</span>
          </div>
          <div class="container-hour-svg">
            <app-svg-clock
              width="21px"
              height="21px"
              fill="#fff"
              class="container-svg-clock"
            ></app-svg-clock>
            <span>{{ stringOnlyHour }}</span>
          </div>
        </div>
        <div class="container-seats-available">
          <div class="container-seats-and-loop-more-less">
            <div class="container-seats-only">
              <app-seats-only
                nameForSeats="A"
                [seatsThatWillStandOutside]="3"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="B"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="C"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="D"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="E"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="F"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="G"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="H"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="I"
                [seatsThatWillStandOutside]="5"
              ></app-seats-only>
              <div></div>
              <div></div>
              <app-seats-only
                nameForSeats="J"
                [seatsThatWillStandOutside]="7"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="K"
                [seatsThatWillStandOutside]="7"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="L"
                [seatsThatWillStandOutside]="7"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="M"
                [seatsThatWillStandOutside]="7"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="N"
                [seatsThatWillStandOutside]="7"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="O"
                [seatsThatWillStandOutside]="8"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="P"
                [seatsThatWillStandOutside]="8"
              ></app-seats-only>
              <app-seats-only
                nameForSeats="Q"
                [seatsThatWillStandOutside]="8"
              ></app-seats-only>
            </div>
            <div class="container-screen">
              <span>TELA</span>
            </div>
          </div>
          <div class="container-loupa">
            <app-svg-more
              width="24px"
              height="24px"
              fill="rgb(152, 170, 236)"
              class="container-svg-more"
            ></app-svg-more>
            <div class="container-line-progress">
              <div class="container-ball"></div>
            </div>
            <app-svg-less
              width="24px"
              height="24px"
              fill="rgb(204, 204, 204)"
              class="container-svg-less"
            ></app-svg-less>
          </div>
        </div>
      </div>
      <app-subtitle></app-subtitle>
      <app-warning-about-movie-theater></app-warning-about-movie-theater>
    </div>
    <div class="container-order-summary-and-total-order">
      <div class="container-order-summary" *ngIf="objectForOrderSummary">
        <div class="container-summary-svg-trashcan">
          <h1>Resumo do pedido</h1>
          <app-svg-trashcan
            width="18px"
            height="18px"
            fill="rgb(152, 170, 236)"
            class="container-svg-trashcan"
          ></app-svg-trashcan>
        </div>
        <div class="container-info-about-movie">
          <div class="container-img-movie">
            <img
              [src]="objectForOrderSummary.imgMovie"
              [alt]="objectForOrderSummary.title"
            />
          </div>
          <div class="container-info-movie">
            <div class="container-title">
              <span>{{ titleMovie(objectForOrderSummary.title) }}</span>
            </div>
            <div class="container-movie-rating-type">
              <span class="span-movie-rating">{{
                objectForOrderSummary.movieRating
              }}</span>
              <span class="span-type-movie-theater">{{
                objectForOrderSummary.typeMovieTheater
              }}</span>
            </div>
            <div class="container-location-region">
              <span class="span-location-movie-theater">{{
                objectForOrderSummary.locationMovieTheater
              }}</span>
              <span class="span-region">{{
                objectForOrderSummary.spanRegion
              }}</span>
            </div>
            <div class="container-see-details">
              <app-svg-exclamation-mark
                width="10px"
                height="10px"
                fill="rgb(152, 170, 236)"
                class="container-exclamation-mark"
              ></app-svg-exclamation-mark>
              <span class="span-see-details">Ver detalhes</span>
            </div>
          </div>
        </div>
        <div class="container-room-date-movie">
          <span>SALA {{ objectForOrderSummary.room.toString() }}</span>
          <div class="container-date-time">
            <span>{{ stringFullOnlyDate }}</span>
            <span class="span-hour">{{ stringOnlyHour }}</span>
          </div>
        </div>
      </div>
      <div class="container-total-order">
        <span>Itens</span>
        <span>Total taxa</span>
        <span>Total</span>
      </div>
    </div>
  </div>
</div>
<div class="container-back-or-progress-main">
  <div class="container-back-or-progress">
    <button class="button-back">VOLTAR</button>
    <button class="button-progress">AVANÇAR</button>
  </div>
</div>
