.header-seats-main {
  display: flex;
  justify-content: center;
  background-color: rgb(33 38 45);
}

.header-seats {
  display: flex;
  justify-content: space-between;
  width: 1443px;
}

.container-name-user-service {
  display: flex;
  gap: 50px;
  margin-right: 10px;
  user-select: none;
}

.container-name-user {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 6px;
  position: relative;
}

.container-name-user > span {
  font-size: 15px;
}

.container-svg-user-body {
  display: flex;
  cursor: pointer;
}

.container-info-about-user {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  left: 75px;
  top: 58px;
  width: 202px;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
  background-color: rgb(5 31 42);
  border: 1px solid rgb(152, 170, 236);
  user-select: text;
}

.container-info-about-user > span {
  color: #fff;
  font-size: 16px;
  color: rgb(110 131 152);
}

.container-info-about-user > a {
  text-decoration: none;
  color: rgb(124 152 254);
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: rgb(89 109 182);
  }
}

.container-service {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 6px;
}

.container-service > span {
  font-size: 15px;
}

.container-svg {
  display: flex;
}

.modal-content {
  background-color: rgb(33 38 45);
  color: #fff;
  position: relative;
  padding: 0px 64px;
  padding-bottom: 80px;
  width: 400px;
  // height: 336px;
  min-height: 336px;
  display: flex;
  flex-direction: column;
}

.modal-content > button {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 17px;
  color: #fff !important;
  border: none;
}

.container-svg-ingresso-and-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-svg-ingresso-i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.modal-header > h5 {
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}

.container-svg-arrow-payment {
  display: flex;
  cursor: pointer;
}

.container-cpf-or-email {
  display: flex;
  gap: 10px;
  border-left: 4px solid rgb(217 217 217);
  border-top: 1px solid rgb(217 217 217);
  border-bottom: 1px solid rgb(217 217 217);
  border-right: 1px solid rgb(217 217 217);
  padding: 6px 5px;
  // padding: 2px 5px; depois de click
  align-items: center;
  background: #fff;
  border-radius: 3px;
}

.container-svg-user {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 8px;
  padding-right: 0px;
}

.container-svg-user > svg {
  width: 15px;
  fill: rgb(217 217 217);
}

.line-split {
  border-right: 1px solid rgb(217 217 217);
  height: 13px;
}

.container-input-and-button-continue{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-span-cpf-email-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container-span-cpf-email-input > span {
  font-size: 10px;
  color: rgb(177 177 177);
  display: none;
}

.container-span-cpf-email-input > input {
  border: none;
  font-size: 12px;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.container-span-cpf-email-input > input:focus {
  outline: none;
}

.container-email-user-valid {
  display: flex;
  flex-direction: column;
  user-select: none;
  position: relative;
}

.container-email-user-valid > span {
  font-size: 12px;
  color: grey;
  line-height: 1;
  cursor: default;

}

.container-email-user-valid > input {
  border: none;
  outline: none;
  cursor: default;
  background-color: rgb(33, 38, 45);
  color: grey;
  font-size: 14px;
  padding: 0;
  pointer-events: none;
}

.container-email-user-valid > label {
  font-size: 14px;
  color: rgb(152, 170, 236);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.container-button-create-accout-line-and-button-enter-without-register {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-create-new-account {
  justify-content: center;
  border: none;
  padding: 10px 0px;
}

.container-create-new-account > button {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to left,#6c04ba, #3255e2);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-image: linear-gradient(to left,#591091, #162f94);
    color: #ffffffa2;
  }
}

.container-line-white-and-span-or {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line-white-for-buttons {
  background: rgb(204, 204, 204);
  height: 1px;
  width: 100%;
}

.span-or {
  line-height: 1.5;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: rgb(153, 153, 153);
}

.container-enter-without-register {
  display: flex;
  padding: 10px 0px;
}

.container-enter-without-register > button {
  width: 100%;
  background: none;
  color: #fff;
  border: 3px solid rgb(152, 170, 236);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0px;

  &:hover{
    border-color: rgba(152, 170, 236, 0.808);
    color: #ffffffcc;
  }
}

.container-info-about-be-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.container-info-about-be-client > span {
  font-size: 12px;
  text-align: center;
  width: 190px;
}

.container-svg-benefits-be-client {
  display: flex;
}

.container-svg-benefits {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 50px;
}

.container-svg-benefits > span {
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.container-info-about-error-input-cpf-or-email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-info-about-error-input-cpf-or-email > span {
  font-size: 14px;
  color: rgb(255, 90, 80);
}

.container-svg-exclamation-mark{
  display: flex;
}

.modal-body {
  border: none;
  padding: 0;
}

.modal-footer {
  justify-content: center;
  border: none;
  padding: 0;
}

.modal-footer > button {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to left,#6c04ba, #3255e2);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  height: 48px;

  &:hover {
    background-image: linear-gradient(to left,#591091, #162f94);
    color: #ffffffa2;
  }
}
