<div class="header-seats-main">
  <div class="header-seats">
    <div class="container-img-ingresso" (click)="onClickIngressoImg()">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1698064983/IngressoImg/ingressologoTrans_in34qn.png"
        alt="ingresso-img"
      />
    </div>
    <div class="container-name-user-service">
      <div class="container-name-user">
        <span *ngIf="!userLogin || !codeConfirmedForTheUser"
          >Olá, visitante</span
        >
        <span *ngIf="userLogin && codeConfirmedForTheUser"
          >Olá, {{ userLogin.name }}</span
        >
        <app-svg-user
          class="container-svg-user-body"
          width="24px"
          height="24px"
          fillColor="rgb(152, 170, 236)"
          (click)="onClickUser()"
        ></app-svg-user>
        <div class="container-info-about-user" *ngIf="wasClickedSvgUser">
          <span
            *ngIf="!userLogin || !codeConfirmedForTheUser"
            class="span-user-visitor-site"
            >Olá, Visitante!</span
          >
          <span
            *ngIf="userLogin && codeConfirmedForTheUser"
            class="span-user-login-name"
            >Olá, {{ userLogin.name }}</span
          >
          <span
            *ngIf="userLogin && codeConfirmedForTheUser"
            class="span-user-login-email"
            >{{ userLogin.email }}</span
          >
          <a
            (click)="onClickLogginOrRegister()"
            *ngIf="!userLogin || !codeConfirmedForTheUser"
            >Entre ou Cadastre-se</a
          >
          <a
            (click)="onClickExit()"
            *ngIf="userLogin && codeConfirmedForTheUser"
            >Sair</a
          >
        </div>
      </div>
      <div class="container-service">
        <span>Atendimento</span>
        <app-svg-question-mark
          width="28px"
          height="28px"
          fill="rgb(152, 170, 236)"
          class="container-svg"
        ></app-svg-question-mark>
      </div>
    </div>
  </div>

  <app-modal-login-checkout
    *ngIf="mostrarMeuModalProprio"
    [funcionCloseModal]="funcionCloseModal"
    [funcionaCodeConfirmedForTheUser]="funcionaCodeConfirmedForTheUser"
  ></app-modal-login-checkout>
</div>
