.container-login-user-or-create-account {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 55px;
}

.container-login-user{
  // width: 33%;
  width: 18rem;
}

.container-login-user > h1 {
  font-size: 21px;
  margin-bottom: 19px;
  color: rgb(85, 85, 85);
}

.container-google-login {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(66, 133, 244);
  color: #fff;
  padding: 8px;
  margin-bottom: 40px;
}

.container-google-login > p {
  margin-bottom: 0px;
}

.container-login-cpf-or-email-password {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-cpf-or-email,
.container-svg-password {
  display: flex;
  gap: 10px;
  border-left: 4px solid rgb(217 217 217);
  border-top: 1px solid rgb(217 217 217);
  border-bottom: 1px solid rgb(217 217 217);
  border-right: 1px solid rgb(217 217 217);
  padding: 6px 5px;
  // padding: 2px 5px; depois de click
  align-items: center;
}

.container-svg-user {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 8px;
  padding-right: 0px;
}

.container-svg-user > svg {
  width: 15px;
  fill: rgb(217 217 217);
}

.line-split {
  border-right: 1px solid rgb(217 217 217);
  height: 13px;
}

.container-span-cpf-email-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container-span-cpf-email-input > span {
  font-size: 10px;
  color: rgb(177 177 177);
  display: none;
}

.container-span-cpf-email-input > input {
  border: none;
  font-size: 12px;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.container-span-cpf-email-input > input:focus {
  outline: none;
}

.container-password-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container-password-input > span {
  font-size: 10px;
  color: rgb(177 177 177);
  display: none;
}

.container-password-input > input {
  border: none;
  font-size: 12px;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.container-password-input > input:focus {
  outline: none;
}

.input-checkbox-keep-me-logged {
  width: 20px;
}

.label-Keep-me-logged {
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.container-recover-account-google-recaptcha {
}

.container-recover-account > p {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
  line-height: 1.3;
}

.span-1 {
  color: rgb(73, 73, 73);
}

.span-2 {
  color: rgb(52, 120, 193);
}

.container-google-recaptcha > p {
  font-size: 13px;
  width: 95%;
  line-height: 1.3;
  color: rgb(85, 85, 85);
}

.container-button-enter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container-button-enter > button {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: rgb(52, 120, 193);
  color: #fff;
  border: none;
}

.container-button-enter > button:hover {
  background-color: rgb(47, 106, 168);
}

.span-recaptcha-1 {
  color: rgb(52, 120, 193);
}

.container-invalid-username-password-or-code {
  display: flex;
  justify-content: center;
}

.container-invalid-username-password-or-code > span {
  font-size: 12px;
  padding: 2px 5px;
  background-color: rgb(250, 196, 196);
  color: rgb(163, 0, 1);
  margin-bottom: 20px;
}

.container-create-account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 16rem;
}

.container-svgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-svg-each {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-svg-each > svg {
  fill: rgb(255, 115, 0);
}

.container-svg-each > span {
  width: 61px;
  font-size: 12px;
  text-align: center;
  line-height: 1.4;
  color: rgb(255, 115, 0);
}

.container-button-create-new-account {
  margin-top: 30px;
}

.container-button-create-new-account > button {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: rgb(52, 120, 193);
  color: #fff;
  border: none;
}

.container-button-create-new-account > button:hover {
  background-color: rgb(47, 106, 168);
}

.container-create-account > h1 {
  font-size: 22px;
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
}

.container-create-account > p {
  font-size: 13px;
}

.container-modal-registration-confirmed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 59, 59, 0.363);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.container-modal-register-success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 59, 59, 0.363);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.container-modal-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15px;
  width: 18rem;
  height: 20rem;
  padding: 10px 28px;
  background-color: #fff;
}

.container-central-register-confirmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
  width: 13rem;
  height: 16rem;
  padding: 30px 17px;
  background-color: #fff;
}

.container-central-register-confirmed > img {
  width: 115px;
}

.container-central-register-confirmed > h1 {
  font-size: 20px;
}

.container-icon-x {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.container-icon-x > svg {
  width: 25px;
  fill: #1188be;
}

.container-img-i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-img-i > h1 {
  font-size: 20px;
  color: rgb(102, 102, 102);
  margin-bottom: 0px;
}

.container-img-i > img {
  width: 65%;
  object-fit: cover;
}

.container-two-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.span-1 {
  font-size: 13px;
}

.span-2 {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.container-button-continue {
  display: flex;
}

.container-button-continue > button {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: rgb(52, 120, 193);
  color: #fff;
  border: none;
  margin-top: 15px;
}

.container-button-continue > button:hover {
  background-color: rgb(41, 97, 156);
}

.container-modal-confirmed-code-send-email {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 59, 59, 0.363);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.container-modal-central-send-code-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15px;
  width: 19rem;
  height: 27rem;
  padding: 10px 19px;
  background-color: #fff;

  // gap: 18px; quando codigo chegar
  //   width: 19rem;
  //   height: 25rem;
}

.container-modal-central-send-code-email > h1 {
  font-size: 22px;
  color: rgb(109, 109, 109);
}

.span-code-confirmed-1 {
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgb(118 118 118);
}

.container-resend-email-code {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-resend-email-code > span {
  font-size: 14px;
  color: rgb(65, 129, 197);
  cursor: pointer;
}

.container-code-resend-successfully {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-code-resend-successfully > svg {
  fill: rgb(15, 190, 40);
}

.container-code-resend-successfully > span {
  font-size: 14px;
  color: rgb(15, 190, 40);
}

.container-svg-lock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-input-cod-and-svg-lock {
  display: flex;
}

.container-input-cod-and-svg-lock > svg {
  width: 35px;
  border-right: 1px solid rgb(224, 224, 224);
  fill: rgb(224, 224, 224);
  padding-right: 10px;
  margin-right: 10px;
}

.container-input-cod-and-svg-lock {
  border: 1px solid rgb(197, 197, 197);
  border-left: 4px solid rgb(197, 197, 197);
  width: 100%;
  font-size: 12px;
  padding: 9px 5px;
}

.container-input-cod-and-svg-lock > input {
  border: none;
  width: 100%;
}

.container-input-cod-and-svg-lock:focus {
  border: 1px solid red;
  border-left: 4px solid red;
}

.container-input-cod-and-svg-lock > input[type=number]::-webkit-inner-spin-button,
.container-input-cod-and-svg-lock > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-input-cod-and-svg-lock > input:focus {
  outline: none;
}

.container-button-cancel-entry {
  display: flex;
  gap: 5px;
}

.button-cancel {
  font-size: 15px;
  padding: 10px 20px;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.button-cancel:hover {
  color: #fff;
  background-color: #0778ce;
}

.button-enter {
  font-size: 15px;
  color: #fff;
  background-color: #2196f3;
  padding: 10px 15px;
  border: none;
}

.button-enter:hover {
  background-color: #0778ce;
}

