<div class="container-main-all-options">
  <div class="container-all-span">
    <span>Olá, {{ userDateStorage?.name }}.</span>
    <span>Bem-vindo à sua conta :)</span>
  </div>

  <div class="container-span-logout-page-initial">
    <span>sair da conta</span>
    <span class="span-2"
      >voltar para a <span class="span-3">página principal</span></span
    >
  </div>
  <div class="container-all-option-navigation">
    <div class="container-svg-config" (click)="onClickSetColor($event, 1)">
      <app-svg-tickets
        width="30px"
        height="30px"
        fillColor="rgb(52, 120, 193)"
      ></app-svg-tickets>
      <span>Meus pedidos: Cinema</span>
    </div>
    <div class="container-svg-config" (click)="onClickSetColor($event, 2)">
      <app-svg-tickets-two
        width="30px"
        height="30px"
        fillColor="rgb(52, 120, 193)"
      ></app-svg-tickets-two>
      <span>Meus Pedidos: Shows, Teatro e mais</span>
    </div>
    <div class="container-svg-config" (click)="onClickSetColor($event, 3)">
      <app-svg-personal-data
        width="30px"
        height="30px"
        fillColor="rgb(52, 120, 193)"
      ></app-svg-personal-data>
      <span>Dados Pessoais</span>
    </div>
    <div class="container-svg-config" (click)="onClickSetColor($event, 4)">
      <app-svg-payment-methods
        width="30px"
        height="30px"
        fillColor="rgb(52, 120, 193)"
      ></app-svg-payment-methods>
      <span>Formas de Pagamento</span>
    </div>
  </div>
</div>
