<div class="container-in-which-position-im-in-choosing-seats-main">
  <div class="container-in-which-position-im-in-choosing-seats">
    <app-svg-choose-seats
      class="container-svg-choose-seats"
      [width]="widthHeightSeats"
      [height]="widthHeightSeats"
      [fill]="fillSeats"
      [border]="borderSeats"
      [borderRadius]="borderRadiusSeats"
      [padding]="paddingSeats"
    ></app-svg-choose-seats>
    <span class="span-seats" *ngIf="whatFunctionWasClickedByUser === 'seats'"
      >ESCOLHA DE ASSENTOS</span
    >
    <div class="container-line-white"></div>
    <app-svg-tickets-for-seats
      class="container-svg-tickets"
      [width]="widthHeightTickets"
      [height]="widthHeightTickets"
      [fill]="fillTickets"
      [border]="borderTickets"
      [borderRadius]="borderRadiusTickets"
      [padding]="paddingTickets"
    ></app-svg-tickets-for-seats>
    <span
      class="span-tickets"
      *ngIf="whatFunctionWasClickedByUser === 'tickets'"
      >TIPOS DE INGRESSOS</span
    >
    <div class="container-line-white"></div>
    <app-svg-popcorn
      class="container-svg-popcorn"
      [width]="widthHeightBomboniere"
      [height]="widthHeightBomboniere"
      [fill]="fillBomboniere"
      [border]="borderBomboniere"
      [borderRadius]="borderRadiusBomboniere"
      [padding]="paddingBomboniere"
    ></app-svg-popcorn>
    <div class="container-line-white"></div>
    <app-svg-card-for-seats
      width="27px"
      height="27px"
      fill="rgb(52 60 70)"
      class="container-svg-card"
      border="1px solid rgb(52, 60, 70)"
      borderRadius="50%"
      padding="4px"
    ></app-svg-card-for-seats>
  </div>
</div>
