<div class="container-in-which-position-im-in-choosing-seats-main">
  <div class="container-in-which-position-im-in-choosing-seats">
    <app-svg-choose-seats
      width="24px"
      height="24px"
      fill="#fff"
      class="container-svg-choose-seats"
      border="none"
      borderRadius="none"
      padding="none"
    ></app-svg-choose-seats>
    <div class="container-line-white"></div>
    <app-svg-tickets-for-seats
      width="27px"
      height="27px"
      fill="rgb(52 60 70)"
      class="container-svg-tickets"
      border="1px solid rgb(52, 60, 70)"
      borderRadius="50%"
      padding="4px"
    ></app-svg-tickets-for-seats>
    <div class="container-line-white"></div>
    <app-svg-popcorn
      width="27px"
      height="27px"
      fill="rgb(52 60 70)"
      class="container-svg-popcorn"
      border="1px solid rgb(52, 60, 70)"
      borderRadius="50%"
      padding="4px"
    ></app-svg-popcorn>
    <div class="container-line-white"></div>
    <app-svg-card-for-seats
      width="27px"
      height="27px"
      fill="rgb(52 60 70)"
      class="container-svg-card"
      border="1px solid rgb(52, 60, 70)"
      borderRadius="50%"
      padding="4px"
    ></app-svg-card-for-seats>
  </div>
</div>
