.container-in-which-position-im-in-choosing-seats-main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container-in-which-position-im-in-choosing-seats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
}

.container-svg-choose-seats {
  display: flex;
  background-color: rgb(49 85 232);
  padding: 5px;
  border-radius: 50%;
}

.container-line-white {
  border-top: 1px solid rgb(52, 60, 70);
  width: 100%;
}
