<app-navigation></app-navigation>
<app-navigation-varied></app-navigation-varied>
<div class="container-show-movie-all" *ngIf="movieHighlight">
  <div class="container-all-about-highlight">
    <div class="container-img-highlight">
      <img
        [src]="movieHighlight.imgUrlBackground"
        [alt]="movieHighlight.title"
      />
    </div>
    <div class="container-description-about-movie">
      <div class="container-movie-rating-gender">
        <div class="container-span-movie-rating">
          <span class="span-movie-rating">{{
            movieHighlight.movieRating
          }}</span>
        </div>
        <span class="span-gender">{{ movieHighlight.gender }}</span>
      </div>
      <div class="container-title-movie">
        <h2>{{ movieHighlight.title }}</h2>
      </div>
      <div class="container-description">
        <p>{{ editDescription(movieHighlight.description) }}</p>
      </div>
      <div class="container-button-tickets-watch-trailer">
        <button class="button-ingresso">Ingressos</button>
        <button class="button-watch-trailer">Assistir Trailer</button>
      </div>
    </div>
  </div>
  <section class="py-5 section-custom">
    <div class="carousel-item active">
      <h1 class="h1-custom">Em Alta</h1>
      <div class="container-carosel-trending">
        <div class="container-arrow-left">
          <svg
            class="i-arrow-custom-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            />
          </svg>
        </div>
        <div class="ms-2 me-2 carousel-custom" id="movies-container">
          <div
            *ngFor="let movie of moviesTrending; let i = index"
            class="col-custom col-custom{{ i + 1 }}"
          >
            <div class="card card-movie">
              <span class="span-movie-rating-trending">{{
                movie.movieRating
              }}</span>
              <img [src]="movie.imgUrl" [alt]="movie.title" />
            </div>
            <div class="custom-card-body">
              <h2>{{ movie.title }}</h2>
            </div>
          </div>
        </div>
        <div class="container-arrow-right">
          <svg
            class="i-arrow-custom-right"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="carousel-item-theater active">
      <h1 class="h1-custom-theater">Teatros</h1>
      <div class="container-carosel-theater">
        <div class="container-arrow-left-theater">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            />
          </svg>
        </div>
        <div class="ms-2 me-2 carousel-custom-theater" id="movies-container">
          <div
            *ngFor="let theater of theaters; let i = index"
            class="col-custom-theater col-custom-theater{{ i + 1 }}"
          >
            <div class="card card-movie-theater">
              <img [src]="theater.imgUrl" [alt]="theater.title" />
            </div>
            <div class="container-description-theater">
              <p>seila</p>
              <h1>seila-seila</h1>
              <p>seila-ssee</p>
            </div>
          </div>
        </div>
        <div class="container-arrow-right-theater">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            />
          </svg>
        </div>
      </div>
    </div>
  </section>
  <div class="container-footer">
    <div class="container-download-appstore-googleplay">
      <div class="container-info-download">
        <p>Baixe nosso aplicativo</p>
        <div class="container-devices">
          <img
            class="img-app-store"
            src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1718639426/app-store_jvblvp.png"
            alt="app-store"
          />
          <img
            class="img-google-play"
            src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1695986634/google-redirect-insta_dagbju.png"
            alt="google-play"
          />
        </div>
      </div>
    </div>
    <div class="container-main-footer-help">
      <div class="container-user-help">
        <div class="container-menu">
          <h2>Menu</h2>
          <span>Filmes</span>
          <span>Cinemas</span>
        </div>
        <div class="container-menu">
          <h2>Institucional</h2>
          <span>Quem Somos</span>
          <span>Assessoria de Imprensa</span>
          <span>Vale-Presente Corporativo</span>
          <span>Ingresso.com atende</span>
          <span>movieID.com</span>
          <span>Faça parte do time</span>
        </div>
        <div class="container-menu">
          <h2>Políticas</h2>
          <span>Privacidade e Segurança</span>
          <span>Meia-entrada</span>
          <span>Trocas e Cancelamentos</span>
          <span>Leis Estaduais e Municipais</span>
          <span>Termos de Uso</span>
        </div>
        <div class="container-menu">
          <h2>Redes Sociais</h2>
          <div class="container-svg-social-media">
            <app-svg-facebook class="svg-container"></app-svg-facebook>
            <span>Facebook</span>
          </div>
          <div class="container-svg-social-media">
            <app-svg-youtube class="svg-container"></app-svg-youtube>
            <span>Youtube</span>
          </div>
          <div class="container-svg-social-media">
            <app-svg-instagram class="svg-container"></app-svg-instagram>
            <span>Instagram</span>
          </div>
          <div class="container-svg-social-media">
            <app-svg-linckedin class="svg-container"></app-svg-linckedin>
            <span>LinkedIn</span>
          </div>
        </div>
        <div class="container-menu">
          <h2>Precisa de Ajuda?</h2>
          <span>Atendimento</span>
          <span>Cancelar Pedido</span>
          <span>Sites ou e-mails falsos</span>
          <span>Procon-RJ</span>
        </div>
        <div class="container-sale-tickets-online">
          <h2>Venda ingressos online</h2>
          <span>Buscando parcerias ou soluções para o seu evento?</span>
          <button>Fale conosco</button>
        </div>
      </div>
    </div>
    <div class="container-type-payment-methods-main">
      <!-- Terminar svg a width dos container svg os main -->
      <div class="container-payment-methods">
        <h2>Formas de Pagamento</h2>
        <div class="container-type-payment-methods">
          <div class="container-credit">
            <h1>Crédito</h1>
            <div class="container-svg-credit">
              <app-svg-visa></app-svg-visa>
              <app-svg-mastercard></app-svg-mastercard>
              <app-svg-elo></app-svg-elo>
              <app-svg-aura></app-svg-aura>
              <app-svg-american-express></app-svg-american-express>
              <app-svg-hipercard></app-svg-hipercard>
              <app-svg-pagbank></app-svg-pagbank>
            </div>
          </div>
          <div class="container-debit">
            <h1>Débito</h1>
            <div class="container-svg-debit">
              <app-svg-c9></app-svg-c9>
              <app-svg-nubank></app-svg-nubank>
              <app-svg-itau></app-svg-itau>
              <app-svg-bradesco></app-svg-bradesco>
              <app-svg-next></app-svg-next>
              <app-svg-santander></app-svg-santander>
              <app-svg-caixa></app-svg-caixa>
              <app-svg-inter></app-svg-inter>
              <app-svg-banco-do-brasil></app-svg-banco-do-brasil>
              <app-svg-pagbank></app-svg-pagbank>
            </div>
          </div>
          <div class="container-other-payments">
            <h1>Outros pagamentos</h1>
            <div class="container-svg-other-payments">
              <app-svg-paypal></app-svg-paypal>
              <app-svg-pay></app-svg-pay>
              <app-svg-pay-google></app-svg-pay-google>
              <app-svg-pix></app-svg-pix>
            </div>
          </div>
          <div class="container-exchange-your-points">
            <h1>Troque seus pontos</h1>
            <div class="container-svg-exchange-your-points">
              <div class="container-exchange-your-points-img">
                <img
                  src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1718725095/exchange-your-points-img/easylive_ob89oj.png"
                  alt="easylive_ob89oj"
                />
              </div>
              <div class="container-exchange-your-points-img">
                <img
                  src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1718725222/exchange-your-points-img/livelo_dla9r6.png"
                  alt="livelo"
                />
              </div>
              <div class="container-exchange-your-points-img">
                <img
                  src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1718725271/exchange-your-points-img/tudo-azul_p5xtsi.png"
                  alt="tudo-azul"
                />
              </div>
              <div class="container-exchange-your-points-img">
                <img
                  src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1718725304/exchange-your-points-img/dotz_ksz2gv.png"
                  alt="dotz"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
