<app-navigation></app-navigation>
<app-navigation-varied></app-navigation-varied>
<div class="container-show-movie-all" *ngIf="movieHighlight">
  <div class="container-all-about-highlight">
    <div class="container-img-highlight">
      <img
        [src]="movieHighlight.imgUrlBackground"
        [alt]="movieHighlight.title"
      />
    </div>
    <div class="container-description-about-movie">
      <div class="container-movie-rating-gender">
        <div class="container-span-movie-rating">
          <span class="span-movie-rating">{{
            movieHighlight.movieRating
          }}</span>
        </div>
        <span class="span-gender">{{ movieHighlight.gender }}</span>
      </div>
      <div class="container-title-movie">
        <h2>{{ movieHighlight.title }}</h2>
      </div>
      <div class="container-description">
        <p>{{ editDescription(movieHighlight.description) }}</p>
      </div>
      <div class="container-button-tickets-watch-trailer">
        <button class="button-ingresso">Ingressos</button>
        <button class="button-watch-trailer">Assistir Trailer</button>
      </div>
    </div>
  </div>
  <section class="py-5 section-custom">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-item active">
        <h1 class="h1-custom">Em Alta</h1>
        <div class="container-carosel-trending">
          <div class="ms-2 me-2 carousel-custom" id="movies-container">
            <div
              *ngFor="let movie of moviesTrending; let i = index"
              class="col-custom col-custom{{ i + 1 }}"
            >
              <div class="card card-movie">
                <span class="span-movie-rating">{{ movie.movieRating }}</span>
                <img
                  class="movie-image"
                  [src]="movie.imgUrl"
                  [alt]="movie.title"
                />
              </div>
              <div class="custom-card-body">
                <h2>{{ movie.title }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-arrow-left">
      <svg
        class="i-arrow-custom-left"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        />
      </svg>
    </div>
    <div class="container-arrow-right">
      <svg
        class="i-arrow-custom-right"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
        />
      </svg>
    </div>
  </section>
</div>
