<div class="container-step-1-for-create-account">
  <div class="container-input-phone-and-span-warning">
    <div
      class="container-info-input-create-account"
      #containerInputNomeCreateNewAccount
    >
      <span #spanNomeCreateNewAccount>*Nome</span>
      <input
        type="text"
        placeholder="*Nome"
        #inputNomeCreateNewAccount
        [value]="valueNomeInput"
        class="input-name-create-account"
        (input)="onInputNameCreateAccount($event)"
        (click)="
          onClickInputCreateAccount(
            inputNomeCreateNewAccount,
            spanNomeCreateNewAccount,
            containerInputNomeCreateNewAccount,
            containerInputPhoneCreateNewAccount,
            containerInputCpfCreateNewAccount
          )
        "
        (blur)="
          onBlurInputCreateAccount(
            inputNomeCreateNewAccount,
            spanNomeCreateNewAccount,
            containerInputNomeCreateNewAccount
          )
        "
      />
    </div>
    <div
      class="container-info-about-error-input"
      *ngIf="spanNomeErrorCreateNewAccount"
    >
      <app-svg-exclamation-mark
        width="16px"
        height="16px"
        fill="rgb(255, 90, 80)"
        class="container-svg-exclamation-mark"
      ></app-svg-exclamation-mark>
      <span
        >O nome precisa ter entre 3 e 60 caracteres e não possuir caracteres
        especiais</span
      >
    </div>
  </div>
  <div class="container-input-phone-and-span-warning">
    <div
      class="container-info-input-create-account"
      #containerInputCpfCreateNewAccount
    >
      <span #spanCpfCreateNewAccount>*CPF</span>
      <input
        type="text"
        placeholder="*CPF"
        #inputCpfCreateNewAccount
        [value]="valurCpfInput"
        id="input-cpf-create-account"
        (input)="
          onInputCpfCreateAccount($event, containerInputCpfCreateNewAccount)
        "
        (click)="
          onClickInputCreateAccount(
            inputCpfCreateNewAccount,
            spanCpfCreateNewAccount,
            containerInputCpfCreateNewAccount,
            containerInputNomeCreateNewAccount,
            containerInputPhoneCreateNewAccount
          )
        "
        (blur)="
          onBlurInputCreateAccount(
            inputCpfCreateNewAccount,
            spanCpfCreateNewAccount,
            containerInputCpfCreateNewAccount
          )
        "
      />
    </div>

    <div
      class="container-info-about-error-input"
      *ngIf="spanCpfErrorCreateNewAccount"
    >
      <app-svg-exclamation-mark
        width="16px"
        height="16px"
        fill="rgb(255, 90, 80)"
        class="container-svg-exclamation-mark"
      ></app-svg-exclamation-mark>
      <span>O campo CPF é obrigatório.</span>
    </div>
  </div>
  <div class="container-input-phone-and-span-warning">
    <div
      class="container-info-input-create-account"
      #containerInputPhoneCreateNewAccount
    >
      <span #spanPhoneCreateNewAccount>*Celular</span>
      <input
        type="text"
        placeholder="*Celular"
        #inputPhoneCreateNewAccount
        [value]="valuePhoneInputToSave"
        id="input-phone-create-account"
        (input)="
          onInputPhoneCreateAccount($event, containerInputPhoneCreateNewAccount)
        "
        (click)="
          onClickInputCreateAccount(
            inputPhoneCreateNewAccount,
            spanPhoneCreateNewAccount,
            containerInputPhoneCreateNewAccount,
            containerInputNomeCreateNewAccount,
            containerInputCpfCreateNewAccount
          )
        "
        (blur)="
          onBlurInputCreateAccount(
            inputPhoneCreateNewAccount,
            spanPhoneCreateNewAccount,
            containerInputPhoneCreateNewAccount
          )
        "
      />
    </div>
    <div
      class="container-info-about-error-input"
      *ngIf="spanPhoneErrorCreateNewAccount"
    >
      <app-svg-exclamation-mark
        width="16px"
        height="16px"
        fill="rgb(255, 90, 80)"
        class="container-svg-exclamation-mark"
      ></app-svg-exclamation-mark>
      <span>Insira um número válido.</span>
    </div>
  </div>
  <span class="span-info-create-account"
    >Ao continuar, aceito os <span class="span-service">Termos de Uso</span> e
    <span class="span-service">Política de Privacidade.</span></span
  >
  <span
    class="span-check-if-cpf-already-exist"
    *ngIf="showLoadingCicleToCreateAccount"
    >Verificando se o CPF já existe...</span
  >
  <span class="span-check-if-cpf-already-exist" *ngIf="cpfNotExist"
    >CPF já cadastrado.</span
  >
  <div class="modal-footer">
    <div
      class="container-cicle-loading"
      *ngIf="showLoadingCicleToCreateAccount"
    >
      <div class="cicle-loading"></div>
    </div>
    <button
      class="button-continue-create-account"
      #buttonContinueCreateAccount
      (click)="
        onClickContinueCreateAccount(
          buttonContinueCreateAccount,
          inputNomeCreateNewAccount,
          inputCpfCreateNewAccount,
          inputPhoneCreateNewAccount,
          containerInputNomeCreateNewAccount,
          containerInputPhoneCreateNewAccount,
          containerInputCpfCreateNewAccount
        )
      "
    >
      CONTINUAR
    </button>
  </div>
</div>
