<div class="container-main-my-orders">
  <div class="container-ingresso-title">
    <div class="container-img-ingresso-info-user">
      <div class="container-img-ingresso" (click)="onClickSvgIngresso()">
        <app-svg-ingresso width="158px" height="40px"></app-svg-ingresso>
      </div>
      <div class="container-info-user-service">
        <div class="container-info-user">
          <span>Olá, {{ userDateStorage?.name }}</span>
          <app-svg-user-body fillColor="rgb(37, 184, 255)"></app-svg-user-body>
        </div>
        <div class="container-service-customer">
          <span>Atendimento</span>
          <app-svg-question-mark
            fillColor="rgb(37, 184, 255)"
          ></app-svg-question-mark>
        </div>
      </div>
    </div>
  </div>

  <div class="container-adjust-screen">
    <div class="container-all-option-and-yours-orders">
      <app-all-options-user
        [onClickWhichDivWasClicked]="onClickWhichDivWasClicked"
        [userDateStorage]="userDateStorage"
      ></app-all-options-user>
      <div class="container-personal-data" *ngIf="numberDiv === 1">
        <p>Você ainda não tem pedidos :(</p>
      </div>
      <app-personal-data *ngIf="numberDiv === 3"></app-personal-data>

      <div class="container-payment-methods" *ngIf="numberDiv === 4">
        <h1>Você pode pagar com os seus cartões de crédito ou via Paypal</h1>
      </div>
    </div>
  </div>
</div>
