<div class="container-main-my-orders">
  <div class="container-img-ingresso-info-user">
    <div class="container-img-ingresso">
      <app-svg-ingresso width="158px" height="40px"></app-svg-ingresso>
    </div>
    <div class="container-info-user-service">
      <div class="container-info-user">
        <span>Olá, Augusto Tetse</span>
        <app-svg-user-body fillColor="rgb(37, 184, 255)"></app-svg-user-body>
      </div>
      <div class="container-service-customer">
        <span>Atendimento</span>
        <app-svg-question-mark
          fillColor="rgb(37, 184, 255)"
        ></app-svg-question-mark>
      </div>
    </div>
  </div>
  <div class="container-all-option-and-yours-orders">
    <app-all-options-user></app-all-options-user>
    <div>
      <p>Você ainda não tem pedidos :(</p>
    </div>
  </div>
</div>
