<div class="container-main-my-orders">
  <div class="container-ingresso-title">
    <div class="container-img-ingresso-info-user">
      <div class="container-img-ingresso" (click)="onClickSvgIngresso()">
        <app-svg-ingresso width="158px" height="40px"></app-svg-ingresso>
      </div>
      <div class="container-info-user-service">
        <div class="container-info-user">
          <span>Olá, {{ userDateStorage?.name }}</span>
          <app-svg-user-body fillColor="rgb(37, 184, 255)"></app-svg-user-body>
        </div>
        <div class="container-service-customer">
          <span>Atendimento</span>
          <app-svg-question-mark
            fillColor="rgb(37, 184, 255)"
          ></app-svg-question-mark>
        </div>
      </div>
    </div>
  </div>

  <div class="container-adjust-screen">
    <div class="container-all-option-and-yours-orders">
      <app-all-options-user
        [onClickWhichDivWasClicked]="onClickWhichDivWasClicked"
        [userDateStorage]="userDateStorage"
      ></app-all-options-user>
      <div *ngIf="numberDiv === 1">
        <p>Você ainda não tem pedidos :(</p>
      </div>
      <div class="container-main-form" *ngIf="numberDiv === 2">
        <form
          class="mt-0 form-main"
          [formGroup]="formulario"
          (ngSubmit)="onSubmit()"
        >
          <div class="row mb-2">
            <div class="col-md-6 container-label-all">
              <app-input-field
                formControlName="nome"
                [classeCss]="aplicaCssErro('nome')"
                id="nome"
                label="Nome"
                placeholder="*Como quer ser chamado"
                type="text"
                #name
                [control]="getAnyNameFieldForm('nome')"
              ></app-input-field>
            </div>
          </div>

          <div class="container-user-info-email-change-password">
            <div class="container-email">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33">
                <path
                  stroke-width="0.5"
                  d="m15.403 19.613-2.127-2a.844.844 0 0 1-.065.065l-5.37 4.836H24.16l-5.37-4.836a.844.844 0 0 1-.065-.065l-2.127 2a.875.875 0 0 1-1.194 0zM16 17.88l7.29-6.852H8.71L16 17.881zm8.519-5.713L19.94 16.47a.858.858 0 0 1 .012.01l4.566 4.112v-8.424zM7.48 20.592l4.566-4.112a.858.858 0 0 1 .012-.01L7.48 12.168v8.424zm-1.703-9.303c0-1.05.789-1.9 1.76-1.9H24.46c.973 0 1.761.858 1.761 1.9v10.965c0 1.05-.789 1.9-1.76 1.9H7.538c-.973 0-1.761-.857-1.761-1.9V11.29z"
                ></path>
              </svg>
              <span>{{ userDateStorage?.email }}</span>
            </div>
            <div class="container-password">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33">
                <path
                  d="M9.42 12.892c0-.18.002-.337.003-.53l.003-.52c.004-.705.006-1.252.006-1.579 0-2.287 2.223-4.43 6.377-4.43 4.134 0 6.348 2.184 6.348 4.435v2.07l.001.554h.899c1.506 0 2.72 1.196 2.72 2.65v8.819c0 1.46-1.214 2.649-2.72 2.649H8.499c-1.506 0-2.721-1.196-2.721-2.65v-8.819c0-1.46 1.215-2.649 2.721-2.649h.92zm1.818 0h9.102v-1.01l-.001-1.614c0-.376-.254-.987-.754-1.48-.751-.741-1.971-1.19-3.776-1.19-1.815 0-3.044.44-3.799 1.166-.507.489-.76 1.095-.76 1.5 0 .33-.002.88-.006 1.588l-.003.52-.003.52zm-3.642 2.65v8.819c0 .482.404.884.903.884h14.558a.894.894 0 0 0 .903-.884v-8.82a.898.898 0 0 0-.903-.884H8.499a.894.894 0 0 0-.903.884zm9.112 5.043v2.145a.75.75 0 0 1-.75.75h-.34a.75.75 0 0 1-.75-.75v-2.133a1.755 1.755 0 0 1-.908-1.528c0-.975.814-1.765 1.818-1.765s1.818.79 1.818 1.765c0 .644-.356 1.208-.888 1.516z"
                ></path>
              </svg>
              <span (click)="changePassword()">Alterar senha</span>
            </div>
          </div>

          <div formGroupName="endereco">
            <div class="row mb-2">
              <div class="col-3 container-label-all">
                <select
                  class="form-select form-control"
                  id="birthdayMonth"
                  formControlName="birthdayMonth"
                  (change)="onMonthChange($event)"
                >
                  <option value="" selected>Mês de aniversário</option>
                  <option [value]="el" *ngFor="let el of this.birthdayMonth">
                    {{ el }}
                  </option>
                </select>
              </div>
              <div class="col-3 container-label-all">
                <select
                  class="form-select form-control"
                  id="birthday"
                  formControlName="birthday"
                  (change)="onMonthChange($event)"
                >
                  <option value="" selected>Dia do aniversário</option>
                  <option [value]="day" *ngFor="let day of this.days">
                    {{ day }}
                  </option>
                </select>
              </div>
              <div class="col-3 container-label-all">
                <select
                  class="form-select form-control"
                  id="yearOfBirth"
                  formControlName="yearOfBirth"
                  (change)="onMonthChange($event)"
                >
                  <option value="" selected>Ano do aniversário</option>
                  <option [value]="year" *ngFor="let year of this.years">
                    {{ year }}
                  </option>
                </select>
              </div>
              <div class="col-3 container-label-all">
                <select
                  class="form-select form-control"
                  id="gender"
                  formControlName="gender"
                >
                  <option value="" selected>Prefiro não informar</option>
                  <option [value]="gen" *ngFor="let gen of this.gender">
                    {{ gen }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-3 mb-2 container-label-all">
                <label for="cep" class="form-label mb-1">CEP</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-invalid]="cepInvalid"
                  (keydown)="keyPressCepInput()"
                  id="input-cep-home"
                  placeholder="CEP"
                  formControlName="cep"
                  #cep
                />
                <div class="invalid-feedback" *ngIf="cepInvalid">
                  CEP Invalido.
                </div>
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="formulario.get('endereco.cep')?.hasError('cepInvalido')"
                >
                  CEP InvalidoOO.
                </div> -->
              </div>
              <div class="col-4 mb-2 container-label-all">
                <label for="numberCellphone" class="form-label mb-1"
                  >Número Celular</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="input-number-cellphone"
                  placeholder="Número telefone"
                  formControlName="numberCellphone"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-4 mb-2 container-label-all">
                <label for="complement" class="form-label mb-1"
                  >Logradouro</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="rua"
                  placeholder="Logradouro"
                  formControlName="rua"
                />
              </div>
              <div class="col-2 container-label-all">
                <label for="number" class="form-label mb-1">Numero</label>
                <input
                  type="text"
                  class="form-control"
                  id="input-number-home"
                  placeholder="NUMERO"
                  formControlName="numero"
                />
              </div>
              <div class="col-3 container-label-all">
                <label for="complement" class="form-label mb-1"
                  >Complemento</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="complement"
                  placeholder="Complemento"
                  formControlName="complemento"
                />
              </div>
              <div class="col-3 container-label-all">
                <label for="complement" class="form-label mb-1"
                  >Referência</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="referencia"
                  placeholder="Referência"
                  formControlName="referencia"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-5 mb-2 container-label-all">
                <label for="bairro" class="form-label mb-1">Bairro</label>
                <input
                  type="text"
                  class="form-control"
                  id="input-bairro-home"
                  placeholder="Bairro"
                  formControlName="bairro"
                />
              </div>

              <div class="col-3 mb-2 container-label-all">
                <label for="estado" class="form-label mb-1">Estado</label>
                <select
                  class="form-select form-control"
                  id="estado"
                  formControlName="estado"
                >
                  <option value="" selected>Selecione um Estado</option>
                  <option
                    [value]="estado.sigla"
                    *ngFor="let estado of this.estados"
                  >
                    {{ estado.nome }}
                  </option>
                </select>
              </div>

              <div class="col-3 mb-2 container-label-all">
                <label for="cidade" class="form-label mb-1">Cidades</label>
                <select
                  class="form-select form-control"
                  id="cidade"
                  formControlName="cidade"
                >
                  <option value="" selected>Selecione um Cidade</option>
                  <option
                    [value]="cidade.nome"
                    *ngFor="let cidade of this.cidades"
                  >
                    {{ cidade.nome }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mb-4 mt-2">
            <div class="col-12">
              <div
                class="form-check d-flex align-items-center gap-2 container-label-all"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                  formControlName="termos"
                />
                <label class="form-check-label" for="flexCheckDefault"
                  >Quero receber novidades e mensagens da Ingresso.com.</label
                >
              </div>
            </div>
          </div>

          <div class="container-confirm-your-password">
            <h1>CONFIRME SUA SENHA</h1>
            <span
              >Por questões de segurança, você precisa digitar sua senha para
              confirmar as alterações feitas no seu cadastro.</span
            >
            <div class="container-input-password">
              <span>*Senha</span>
              <input
                type="password"
                (click)="onClickInputPassword()"
                (blur)="onBlurPassword()"
                (input)="onInput($event)"
                class="input-password"
              />
            </div>
            <div
              class="container-warning-password-required"
              *ngIf="!valueContainerIsValid"
            >
              <span>A senha é obrigatória</span>
            </div>
            <div
              class="container-warning-password-required"
              *ngIf="passwordwrong"
            >
              <span>senha inválida</span>
            </div>
          </div>

          <div
            class="container-modal-account-updated"
            *ngIf="accountUpdatedSucessfully"
          >
            <div class="container-modal-central">
              <div class="container-icon-x" (click)="onClickCloseModal()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                  />
                </svg>
              </div>
              <div class="container-i-svg">
                <app-svg-i></app-svg-i>
              </div>
              <div class="container-h1-span-info">
                <h1>Conta Atualizada!</h1>
                <span
                  >Os dados da sua conta foram alterados e a conta já está
                  atualizada.</span
                >
              </div>
              <div class="container-button-homepage">
                <button (click)="onClickCloseModal()">OK</button>
                <span (click)="onClickHomePage()"
                  >Ir para a página inicial</span
                >
              </div>
            </div>
          </div>

          <app-change-password
            [changePassword]="changePasswordUser"
          ></app-change-password>

          <button #submitButton type="submit" class="btn btn-primary">
            Submit
          </button>
          <!-- <app-form-debug [form]="formulario"></app-form-debug> -->
        </form>
      </div>
    </div>
  </div>
</div>
