:host {
  display: block;
}

.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 59, 59, 0.363);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.container-modal-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  gap: 20px;
  width: 39rem;
  height: 42rem;
  padding: 30px 25px;
  background-color: rgb(33 38 45);
}

.container-svg-exit {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.container-svg-question-mark-span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-svg-question-mark-span > span {
  color: rgb(140 157 215);
  font-size: 20px;
  font-weight: 700;
}

.container-svg-question-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52 60 70);
  border-radius: 50%;
  padding: 5px 5px;
}

.container-location-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.container-img-location {
  width: 100%;
}

.container-img-location > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.container-location-name-and-svg-location {
  display: flex;
  align-items: center;
  background-color: rgb(33, 38, 45);
  position: absolute;
  // left: 85px;
  bottom: -27px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 60px;
  padding: 0px 15px;
}

.container-location-name-and-svg-location > span {
  font-size: 20px;
  color: #fff;
}

.span-forms-withdrawal {
  font-size: 20px;
  color: #fff;
}

.container-types-of-the-withdrawal {
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.container-width-adjust {
  display: flex;
  width: 1130px;
  user-select: none;

  // transform: translateX(0%);
  // transition: transform 0.1s ease;
}

.container-forms-withdrawal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 200px;
  background-color: rgb(52 60 70);
  border-radius: 10px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  position: relative;
  margin-right: 15px;
}

.container-forms-withdrawal > h2 {
  font-size: 20px;
  color: #fff;
}

.container-forms-withdrawal > span {
  font-size: 16px;
  color: rgb(153, 153, 153);
  line-height: 1.1;
  text-align: center;
}

.container-svg-forms-withdrawal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 85, 226);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  top: -30px;
}

