<div class="container-step-2-for-create-account">
  <div
    class="container-info-input-create-account"
    #containerInputConfirmationEmailCreateNewAccount
  >
    <span #spanConfirmationEmailCreateNewAccount>*Confirmação de e-mail</span>
    <input
      type="text"
      placeholder="*Confirmação de e-mail"
      #inputConfirmationEmailCreateNewAccount
      class="input-name-create-account"
      (input)="
        onInputConfirmationEmail(
          $event,
          containerInputConfirmationEmailCreateNewAccount
        )
      "
      (click)="
        onClickInputConfirmationEmailCreateAccount(
          inputConfirmationEmailCreateNewAccount,
          spanConfirmationEmailCreateNewAccount,
          containerInputConfirmationEmailCreateNewAccount
        )
      "
      (blur)="
        onBlurInputConfirmationEmailCreateAccount(
          inputConfirmationEmailCreateNewAccount,
          spanConfirmationEmailCreateNewAccount,
          containerInputConfirmationEmailCreateNewAccount
        )
      "
    />
  </div>
  <div
    class="container-info-about-error-input"
    *ngIf="confirmationEmailNotSameEmail && alreadyClickedCreateAccount"
  >
    <app-svg-exclamation-mark
      width="16px"
      height="16px"
      fill="rgb(255, 90, 80)"
      class="container-svg-exclamation-mark"
    ></app-svg-exclamation-mark>
    <span>Esse campo deve ser igual ao de e-mail.</span>
  </div>
  <div
    class="container-svg-password-create-new-account"
    #containerSvgPasswordCreateNewAccount
  >
    <div
      class="container-password-input-create-new-account"
      #containerInputPasswordCreateNewAccount
    >
      <span #spanPasswordCreateNewAccount>*Senha</span>
      <input
        type="password"
        placeholder="*Senha"
        class="input-password-send-code"
        #inputPasswordCreateNewAccount
        (input)="
          onInputPasswordCreateAccount(
            $event,
            spanMinimumOneLowercaseLetter,
            spanMinimunOneUppercaseLetter,
            spanMinimunOneNumber,
            spanMinimunEightCharacters,
            containerSvgPasswordCreateNewAccount
          )
        "
        (click)="
          onClickInputPasswordCreateAccount(
            inputPasswordCreateNewAccount,
            spanPasswordCreateNewAccount,
            containerInputPasswordCreateNewAccount,
            containerSvgPasswordCreateNewAccount
          )
        "
        (blur)="
          onBlurInputPasswordCreateAccount(
            inputPasswordCreateNewAccount,
            spanPasswordCreateNewAccount,
            containerInputPasswordCreateNewAccount,
            containerSvgPasswordCreateNewAccount
          )
        "
      />
      <app-svg-eye-cut
        *ngIf="EyeCutSvgOrEyeOpenCreateAccount"
        fill="gray"
        class="container-svg-eye-cut"
        (click)="
          onClickContainerSvgEyeCutCreateAccount(inputPasswordCreateNewAccount)
        "
      ></app-svg-eye-cut>
      <app-svg-eye-open
        *ngIf="!EyeCutSvgOrEyeOpenCreateAccount"
        fill="gray"
        class="container-svg-eye-cut"
        (click)="
          onClickContainerSvgEyeOpenCreateAccount(inputPasswordCreateNewAccount)
        "
      ></app-svg-eye-open>
    </div>
  </div>
  <div
    class="container-info-about-error-input"
    *ngIf="errorPasswordWrong && alreadyClickedCreateAccount"
  >
    <app-svg-exclamation-mark
      width="16px"
      height="16px"
      fill="rgb(255, 90, 80)"
      class="container-svg-exclamation-mark"
    ></app-svg-exclamation-mark>
    <span>A senha não atende aos critérios necessários.</span>
  </div>
  <div class="container-password-requirement">
    <p class="para-1">Sua senha precisa atender aos seguintes critérios:</p>
    <p class="para-2" #spanMinimumOneLowercaseLetter>
      Mínimo uma letra minúscula *
    </p>
    <p class="para-3" #spanMinimunOneUppercaseLetter>
      Mínimo uma letra maiúscula *
    </p>
    <p class="para-4" #spanMinimunOneNumber>Mínimo um número *</p>
    <p class="para-5" #spanMinimunEightCharacters>Mínimo de 8 caracteres *</p>
  </div>
  <div class="container-receive-news">
    <input type="checkbox" />
    <span>Quero receber novidades e mensagens da Ingresso.com.</span>
  </div>
  <div class="container-span-info-above-receive-new">
    <span class="span-info-create-account"
      >Ao continuar, aceito os <span class="span-service">Termos de Uso</span> e
      <span class="span-service">Política de Privacidade.</span></span
    >
    <span
      >Deseja excluir sua conta? Siga os
      <span class="span-service">passos a seguir</span></span
    >
  </div>
  <div class="modal-footer">
    <div
      class="container-cicle-loading"
      *ngIf="showLoadingCicleToCreateAccountCheckout"
    >
      <div class="cicle-loading"></div>
    </div>
    <button
      class="button-create-account"
      #buttonCreateAccountCheckout
      (click)="
        onClickButtonCreateAccount(
          containerSvgPasswordCreateNewAccount,
          containerInputConfirmationEmailCreateNewAccount,
          buttonCreateAccountCheckout
        )
      "
    >
      CRIAR CONTA
    </button>
  </div>
</div>
